.fate.window-app .window-content h1,
.fate.window-app .window-content h2,
.fate.window-app .window-content h3 {
  margin: 0;
  border: none;
  font-family: var(--fco-font-family);
  text-transform: uppercase;
}

.journal-entry-page.pdf {
  height:100%;
}

.fate button:disabled {
  opacity:0.5;
}
h1.window-title br {
  display: none;
}

.rolls h1,
.rolls h2,
.rolls h3 {
  border-bottom:2px solid var(--fco-foundry-interactable-color);
  font-size:2em;
  padding-bottom:5px;
  color:var(--fco-sheet-text-colour);
}

option {
  background-color: inherit;
}

#FateUtilities {
  padding: 0;
}

#FateUtilities h1:not(.window-title), 
#FateUtilities h2:not(.window-title), 
#FateUtilities h3:not(.window-title) {
  margin:0;
  margin-bottom:0.5em;
  color:var(--fco-sheet-text-colour);
}

#FateUtilities td, #FateUtilities th {
  padding: 5px;
}

#EditEntityTrack .window-content {
  padding: 0;
}

.fate .window-content {
  padding: 0;
}

.window-app .fcoSheet * {
  scrollbar-color:var(--fco-accent-colour) #FFFFFF00;
  scrollbar-width:thin
}

.long_text {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text; 
  user-select: text;
}

.long_text *{
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text; 
  user-select: text;
}

input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: inner-spin-button;
    appearance: auto;
}

body, h1, h2, h3, h4, h5, button:not(.fas, .fa, .icon, .control-icon), label:not(.fas, .fa, .icon), select:not(.fas, .fa, .icon), input:not(.fas, .fa, .icon) {
  font-family:var(--fco-foundry-font-family);
}

button[name="fco_chat_roll_button"]  {
  display:table-row;
}

.flavor-text h1 {
  font-size:1.5rem;
}

button.fas{
  font-family: "Font Awesome 6 Pro";
}

textarea:not([name="command"]){
  font-family:var(--fco-foundry-font-family);
}

textarea [name="command"] {
  font-family: var(--font-mono);
}

#chat-log .message {
  border: 2px solid black;
  border-radius: 0;
  background: #c8c8c8;
  font-family: var(--fco-foundry-font-family);
}
#chat-log .message .message-header {
  color: black;
}
#chat-log .message h2 {
  border-bottom: 2px solid black;
  font-weight: bold;
  text-align: center;
}
#chat-log .message p {
  font-size: 1.1em;
}
#chat-log .message .dice-roll .dice-formula,
#chat-log .message .dice-roll .dice-total {
  border: 1px solid black;
  border-radius: 0;
  box-shadow: none;
}
#chat-log .message .dice-tooltip .part-formula {
  border-bottom: 1px solid black;
}
#chat-log .message .dice-tooltip .part-formula .part-total {
  border: 1px solid black;
  border-bottom: none;
  border-radius: 0;
}

.fu_controlled {
  background-color:var(--fco-foundry-interactable-color) !important;
}

#fu_conflict_tracker tr {
  background-color:transparent
}

.fu_button:hover {
  filter: drop-shadow(0px 0px 3px red) !important;
}

.fu_button:disabled {
  opacity:50%
}

.fu_button:focus {
  filter: drop-shadow(0px 0px 3px red) !important;
}

.mf_item {
  background-color:white; 
  margin:0px; 
  font-size:x-large; 
  padding-left:15px; 
  padding-top:10px; 
  padding-bottom:10px; 
  padding-right:15px; 
  float:right;
}

.mf_item:not(.active) {
  box-shadow: inset 0px -6px 15px -6px grey;
}

.fu_toggle_off {
  font-size:x-large; 
  color:var(--fco-sheet-text-colour);
  opacity:0.25;
  background:transparent;
  float:right;
  padding-left:5px;
  padding-right:5px;
  padding-bottom:5px;
}

.fu_toggle_on {
  font-size:x-large; 
  color:var(--fco-sheet-text-colour);
  background:transparent;
  opacity:1;
  float:right;
  padding-left:5px;
  padding-right:5px;
  padding-bottom:5px;
}

.fu_toggle_off:hover {
  text-shadow: 0 0 8px red;
}

.fu_toggle_on:hover {
  text-shadow: 0 0 8px red;
}

.fu_item_1 {
  width:120px;
  text-align:center;
  font-size:x-large; 
  padding: 15px;
  padding-bottom:18px; 
  float:left; 
  color:var(--fco-sheet-text-colour);
  border-bottom: 1px solid var(--fco-accent-colour);
  background:var(--fco-sheet-background-colour);
  box-shadow: inset 0px -6px 15px -6px black;
  opacity:0.25;
}

.fu_item_1.active {
  color:var(--fco-sheet-text-colour);
  border: solid; 
  border-width: 1px 1px 0px 1px;
  border-color:var(--fco-accent-colour);
  box-shadow:none;
  text-shadow: 0 0 8px var(--fco-accent-colour);
  opacity:1;
}

.fu_item_2 {
  width:120px;
  font-size:x-large; 
  text-align:center;
  padding: 15px; 
  padding-bottom:18px;
  float:left; 
  color:var(--fco-sheet-text-colour);
  border-bottom: 1px solid var(--fco-accent-colour);
  background:var(--fco-sheet-background-colour);
  box-shadow: inset 0px -6px 15px -6px black;
  opacity:0.25;
}

.fu_item_2.active {
  color:var(--fco-sheet-text-colour);
  border: solid; 
  border-width: 1px 1px 0px 1px;
  border-color:var(--fco-accent-colour);
  box-shadow:none;
  text-shadow: 0 0 8px var(--fco-accent-colour);
  opacity:1;
}

.fu_item_3 {
  width:120px;
  text-align:center;
  font-size:x-large; 
  padding: 15px; 
  padding-bottom:18px;
  float:left; 
  color:var(--fco-sheet-text-colour);
  border-bottom: 1px solid var(--fco-accent-colour);
  background:var(--fco-sheet-background-colour);
  box-shadow: inset 0px -6px 15px -6px black;
  opacity:0.25;
}

.fu_item_3.active {
  border: solid; 
  border-width: 1px 1px 0px 1px;
  border-color:var(--fco-accent-colour);
  box-shadow:none;
  text-shadow: 0 0 8px var(--fco-accent-colour);
  opacity:1;
}

.fu_item_4 {
  text-align:center;
  width:120px;
  font-size:x-large; 
  padding: 15px; 
  padding-bottom:18px;
  float:left; 
  color:var(--fco-sheet-text-colour);
  border-bottom: 1px solid var(--fco-accent-colour);
  background:var(--fco-sheet-background-colour);
  box-shadow: inset 0px -6px 15px -6px black;
  opacity:0.25;
}

.fu_item_4.active {
  color:var(--fco-sheet-text-colour);
  border: solid; 
  border-width: 1px 1px 0px 1px;
  border-color:var(--fco-accent-colour);
  box-shadow:none;
  text-shadow: 0 0 8px var(--fco-accent-colour);
  opacity:1;
}

.fu_item_5 {
  text-align:center;
  width:120px;
  font-size:x-large; 
  padding: 15px; 
  padding-bottom:18px;
  float:left; 
  color:var(--fco-sheet-text-colour);
  border-bottom: 1px solid var(--fco-accent-colour);
  background:var(--fco-sheet-background-colour);
  box-shadow: inset 0px -6px 15px -6px black;
  opacity:0.25;
}

.fu_item_5.active {
  color:var(--fco-sheet-text-colour);
  border: solid; 
  border-width: 1px 1px 0px 1px;
  border-color:var(--fco-accent-colour);
  box-shadow:none;
  text-shadow: 0 0 8px var(--fco-accent-colour);
  opacity:1;
}

.fate input[type="checkbox"]:checked::before, .mfate-sheet input[type="checkbox"]:checked::before {
  background-color:var(--fco-accent-colour);
  color:var(--fco-label-colour);
  content:"✔";
  text-align:center;
  font-size:1em;
  width:var(--checkbox-size);
  font-weight:bold;
}


.fate input[type="checkbox"]::before {
  color:var(--fco-accent-colour);
}

.mfate-sheet input[type="checkbox"]::before {
  color:var(--fco-accent-colour);
  width:var(--checkbox-size);
}

#edit_entity_track_paid:checked::before {
  background-color:var(--fco-accent-colour);
  color:var(--fco-label-colour);
  content:"✔";
  text-align:center;
  font-size:1em;
  font-weight:bold;
  width:var(--checkbox-size);
}

/* The container */
.box {
  font-family:"Montserrat";
  display: flex-row;
  float:left;
  position: relative;
  padding-left: 0px;
  margin-bottom: 2px;
  margin-top: 0px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Create a custom checkbox */
.checkmark {
  font-family:"Montserrat";
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border: solid;
  border-color:var(--fco-foundry-interactable-color);
  border-width:3px;
  background-color:var(--fco-sheet-input-colour);
  color:var(--fco-sheet-text-colour);
}

/* On mouse-over, add a grey background color */
.box:hover input ~ .checkmark {
  background-color: var(--fco-foundry-interactable-color);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  font-family:"Montserrat";
  content: "X";
  position: absolute;
  top: 65%;
  left: 65%;
  font-weight:900;
  font-size:20px;
  display: none;
  height: 20px;
  width: 20px;
  background-color:none;
  transform:translate(-50%, -75%)
}

/* Show the checkmark when checked */
.box input:checked ~ .checkmark:after {
  display: block;
}

.cd_datum_rich:hover {
  background-color: var(--fco-foundry-interactable-color);
}

.cd_datum_rich {
  padding:5px;
}

.cd_datum {
  padding:5px;
}

#fu_conflict_name_input:hover {
  text-shadow: 0 0 8px red;
}

/* Countdown Checkbox - The container */
.cdbox {
  display: flex-row;
  float:left;
  position: relative;
  padding-left: 0px;
  margin-bottom: 2px;
  margin-top: 0px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Create a custom checkbox */
.cdcheckmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border: solid;
  border-color:var(--fco-foundry-interactable-color);
  border-width:3px;
  background-color:var(--fco-sheet-input-colour);
  color:var(--fco-sheet-text-colour);
}

/* On mouse-over, add a grey background color */
.cdbox:hover input ~ .cdcheckmark {
  background-color: var(--fco-foundry-interactable-color);
}

/* Create the checkmark/indicator (hidden when not checked) */
.cdcheckmark:after {
  font-family:"Montserrat";
  content: "X";
  position: absolute;
  top: 65%;
  left: 65%;
  font-weight:900;
  font-size:20px;
  display: none;
  height: 22px;
  width: 20px;
  background-color:none;
  transform:translate(-50%, -75%)
    
}

/* Show the checkmark when checked */
.cdbox input:checked ~ .cdcheckmark:after {
  display: block;
}

.cs_box {
  background-color:var(--fco-sheet-input-colour) !important;
  color:var(--fco-sheet-text-colour) !important;
  font-family:var(--fco-font-family) !important;
  border-top:none !important;
  border-radius:0 !important;
  border-right:none !important;
  border-left:none !important;
  border-bottom:1px solid var(--fco-foundry-interactable-color) !important
}

.cs_box:hover {
  background-color: var(--fco-foundry-interactable-color) !important;
}

.fu_aspect_box {
  font-size:small; 
  min-width:100px !important;
  margin-top:5px !important; 
  margin-right:5px;
  margin-left:2px;
  margin-bottom:5px !important; 
  border-style:solid !important; 
  height:32px !important; 
  float:left !important; 
  padding:5px !important; 
  color:var(--fco-sheet-text-colour) !important; 
  background-color :var(--fco-sheet-input-colour) !important; 
  font-family:var(--fco-font-family) !important; 
  border:none !important; 
  border-bottom: 1px solid var(--fco-foundry-interactable-color) !important
}

.aspect_box {
  font-size:small; 
  min-width:100px !important;
  max-width:75% !important; 
  margin-top:5px !important; 
  margin-right:5px;
  margin-bottom:5px !important; 
  border-style:solid !important; 
  height:25px !important; 
  float:left !important; 
  padding:5px !important; 
  color:var(--fco-sheet-text-colour) !important; 
  background-color:var(--fco-sheet-input-colour) !important; 
  font-family:var(--fco-font-family) !important; 
  border:none !important; 
  border-bottom: 1px solid var(--fco-foundry-interactable-color) !important
}

.aspect_box:hover {
  background-color: var(--fco-foundry-interactable-color) !important;
}

.fu_aspect_box:hover {
  background-color: var(--fco-foundry-interactable-color) !important;
}

.fu_notes:hover {
  background-color: var(--fco-foundry-interactable-color) !important;
}

.long_text {
  min-height:2em !important; 
  background-color:var(--fco-sheet-input-colour) !important;
  color:var(--fco-sheet-text-colour) !important;
  font-family:var(--fco-font-family) !important;
  font-size:10pt;
  overflow-y:auto;
  padding-left:5px;
  cursor:text;
  scrollbar-color:var(--fco-accent-colour) #FFFFFF00; 
  scrollbar-width:thin;
}

.application.fcoExtra {
  color:var(--fco-sheet-text-colour);
  font-family:var(--fco-font-family) ;
}

.application.fate tr{
  background-color:transparent;
}

.long_text_rich {
  min-height:2em !important; 
  background-color:var(--fco-sheet-input-colour) !important;
  color:var(--fco-sheet-text-colour) !important;
  font-family:var(--fco-font-family) !important;
  font-size:10pt;
  overflow-y:auto;
  padding-left:5px;
  cursor:text;
  scrollbar-color:var(--fco-accent-colour) #FFFFFF00; 
  scrollbar-width:thin;
}

.long_text_rich:hover {
  background-color:var(--fco-foundry-interactable-color) !important;
}

span.fas.inactive {
  opacity: 0.5;
}

.fate-font {
  font-family:"Fate";
  font-style:normal;
  font-size:1.5em;
}

.fate-glyph {
  font-family:"Fate";
  font-style:normal;
  font-size:2.5em;
}