@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat-Regular.otf");
}
@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat-Italic.otf");
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat-Light.otf");
  font-weight: 300;
}
@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat-LightItalic.otf");
  font-style: italic;
  font-weight: 300;
}
@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat-Bold.otf");
  font-weight: bold;
}
@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat-BoldItalic.otf");
  font-style: italic;
  font-weight: bold;
}
@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat-Black.otf");
  font-weight: 900;
}
@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat-BlackItalic.otf");
  font-style: italic;
  font-weight: 900;
}
@font-face {
  font-family: "Fate Core";
  src: url("fonts/Fate Core Font.ttf");
}
.fate.window-app .window-content h1,
.fate.window-app .window-content h2,
.fate.window-app .window-content h3 {
  margin: 0;
  border: none;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
}

button {
  border-radius: 0;
  font-family: "Montserrat", "Arial", sans-serif;
  border: 2px solid black;
}
button:hover {
  background: rgba(255, 255, 255, 0.2);
}

.fate.window-app .window-content {
  overflow-y: scroll;
}
.fate.window-app .window-content a:hover {
  text-shadow: none;
}
.fate.window-app .window-content form {
  display: flex;
  flex-direction: column;
}
.fate.window-app .window-content h1,
.fate.window-app .window-content h2,
.fate.window-app .window-content h3 {
  font-size: 1em;
}
.fate.window-app .window-content img {
  width: auto;
  border: none;
}
.fate.window-app .window-content input[type=text],
.fate.window-app .window-content div[contenteditable] {
  box-sizing: border-box;
  display: block;
  width: 100%;
  min-height: 1.572em;
  margin: 0 0 1px 0;
  padding: 1px 3px;
  background: rgba(255, 255, 255, 0.75);
  border: 1px solid #aaa;
  border-radius: 0;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 1.02em;
}
.fate.window-app .window-content input[type=text]:last-child,
.fate.window-app .window-content div[contenteditable]:last-child {
  margin-bottom: 0;
}
.fate.window-app .window-content input[type=text]:focus,
.fate.window-app .window-content div[contenteditable]:focus {
  outline-offset: -2px;
  outline: 2px solid black;
}
.fate.window-app .window-content select {
  background: rgba(255, 255, 255, 0.75);
  border: 1px solid #aaa;
  border-radius: 0;
}
.fate.window-app .window-content select:focus {
  box-shadow: none;
  outline: 2px solid black;
}
.fate.window-app .window-content ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.fate.window-app .window-content .editor .tox-tinymce {
  height: 100% !important;
}

.fi {
  display: inline-block;
  font-family: "Fate Core";
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-size: 1.4em;
  line-height: 1;
}
.fi-attack::before {
  content: "A";
}
.fi-create::before {
  content: "C";
}
.fi-defend::before {
  content: "D";
}
.fi-overcome::before {
  content: "O";
}

.window-app .window-content {
  padding: 4px;
  background: #c8c8c8;
  font-family: "Montserrat", "Arial", sans-serif;
}

.approach-select {
  display: inline-block;
  position: relative;
  border: 1px solid #aaa;
  text-align: right;
}
.approach-select select {
  visibility: hidden;
  padding-right: 10px;
}
.approach-select .selected {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 3px 19px 3px 3px;
  background: #efefef;
  cursor: pointer;
}
.approach-select .selected:after {
  content: "";
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-color: black transparent transparent transparent;
  position: absolute;
  top: 9px;
  right: 6px;
}
.approach-select .selected:focus {
  outline: 2px solid black;
  outline-offset: -2px;
}
.approach-select .selected.disabled {
  color: #555;
  outline: none;
  cursor: default;
}
.approach-select .selected.disabled:after {
  border-top-color: #555;
}
.approach-select .selected-hover {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  background: rgba(0, 0, 0, 0.5);
}
.approach-select .options {
  display: none;
  position: absolute;
  top: -1px;
  right: -1px;
  left: -1px;
  margin: 0;
  padding: 0;
  z-index: 998;
  list-style-type: none;
  background: #eee;
  border: 1px solid #aaa;
}
.approach-select .options li {
  padding: 3px 19px 3px 3px;
  transition: background-color 100ms;
}
.approach-select .options li:hover {
  background: #aaa;
}

.stress-boxes {
  display: flex;
  flex-direction: column;
}
.stress-boxes .stress-item {
  display: flex;
  margin-bottom: 0.2em;
}
.stress-boxes .stress-item:last-child {
  margin-bottom: 0;
}
.stress-boxes .stress-number {
  width: 0.8em;
  margin-right: 0.1em;
  font-weight: 900;
  font-size: 2em;
  text-align: right;
}
.stress-boxes .stress-box {
  position: relative;
  display: block;
  width: 3em;
  height: 3em;
  border: 4px solid black;
  cursor: pointer;
}
.stress-boxes .stress-box input[type=checkbox] {
  position: absolute;
  top: -999px;
  opacity: 0;
  width: 0;
  height: 0;
}
.stress-boxes .stress-box .fa-check {
  position: absolute;
  display: none;
  font-size: 2.5em;
}
.stress-boxes .stress-box:hover input ~ .fa-check {
  display: block;
  color: rgba(0, 0, 0, 0.25);
}
.stress-boxes .stress-box input:checked ~ .fa-check {
  display: block;
  color: black;
}
.stress-boxes .stress-box.disabled {
  cursor: default;
}
.stress-boxes .stress-box.disabled:hover input:not(:checked) ~ .fa-check {
  display: none;
}

.fill {
  flex: 1;
}

.fate.window-app .window-content .sheet-body,
.fate.window-app .window-content .sheet-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.fate.window-app .window-content .tabs {
  margin-bottom: 4px;
  align-items: center;
  font-weight: bold;
  border-bottom: 2px solid black;
}
.fate.window-app .window-content .tabs .item {
  padding: 4px;
}
.fate.window-app .window-content .tabs .item:hover {
  background: rgba(0, 0, 0, 0.1);
}
.fate.window-app .window-content .tabs .item.active {
  background: rgba(0, 0, 0, 0.25);
  text-shadow: none;
  cursor: default;
}
.fate.window-app .window-content .tab[data-tab].active {
  flex: 1;
  display: flex;
}
.fate.window-app .window-content .main-sheet {
  flex-direction: column;
}
.fate.window-app .window-content .editor {
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid black;
}
.fate.window-app .window-content .editor .editor-content {
  padding-left: 8px;
}
.fate.window-app .window-content .header {
  margin-bottom: 0.4rem;
  padding: 0.3rem 1rem;
  background: black;
  color: white;
  font-size: 1.2em;
}
.fate.window-app .window-content .small-header {
  font-size: 1.1em;
}
.fate.window-app .window-content .sheet-group {
  display: flex;
}
.fate.window-app .window-content .sheet-group:not(.vertical):not(:last-child) {
  margin-bottom: 0.6rem;
}
.fate.window-app .window-content .sheet-group:not(.vertical) > *:not(:last-child) {
  margin-right: 1rem;
}
.fate.window-app .window-content .sheet-group.vertical {
  flex-direction: column;
}
.fate.window-app .window-content .sheet-group.vertical > *:not(:last-child) {
  margin-bottom: 0.4rem;
}
.fate.window-app .window-content .sheet-group.fill {
  flex: 1;
}
.fate.window-app .window-content .property {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.2em;
  border: 2px solid black;
}
.fate.window-app .window-content .property:not(:last-child) {
  margin-bottom: 0.2em;
}
.fate.window-app .window-content .property-label {
  display: block;
  margin-bottom: 0.1em;
  font-size: 0.8em;
}
.fate.window-app .window-content .refresh {
  display: flex;
  flex-direction: column;
}
.fate.window-app .window-content .refresh .refresh-boxes {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.fate.window-app .window-content .refresh .refresh-boxes .property {
  width: 5rem;
  height: 5rem;
  margin: 0;
}
.fate.window-app .window-content .refresh .refresh-boxes .property:not(:last-child) {
  margin-right: 5px;
}
.fate.window-app .window-content .refresh .refresh-boxes .property-input {
  display: flex;
  width: 100%;
  height: initial;
  min-height: initial;
  font-weight: bold;
  font-size: 2.9em;
  text-align: center;
}
.fate.window-app .window-content .item-list {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.fate.window-app .window-content .item-list .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3rem 1rem;
  color: white;
  background: black;
}
.fate.window-app .window-content .item-list .header .item-control {
  font-weight: bold;
}
.fate.window-app .window-content .item-list .item-list-content {
  flex: 1;
  padding: 2px;
  border: 2px solid black;
}
.fate.window-app .window-content .stunt-list-item {
  display: flex;
  padding: 2px;
  background: white;
  border: 1px solid black;
}
.fate.window-app .window-content .stunt-list-item:not(:last-child) {
  margin-bottom: 2px;
}
.fate.window-app .window-content .stunt-list-item .item-name {
  flex: 1;
}
.fate.window-app .window-content .stunt-list-item .item-name h4 {
  margin: 0;
  font-weight: bold;
}
.fate.window-app .window-content .consequences-list .consequence {
  display: flex;
}
.fate.window-app .window-content .consequences-list .consequence:not(:last-child) {
  margin-bottom: 0.2em;
}
.fate.window-app .window-content .consequences-list .property {
  flex: 1;
}
.fate.window-app .window-content .consequences-list .property .property-label {
  font-size: 0.7em;
}
.fate.window-app .window-content .consequences-list .consequence-value {
  width: 0.8em;
  margin-right: 0.1em;
  font-weight: 900;
  font-size: 2em;
  text-align: right;
}
.fate.window-app .window-content .biography .artwork {
  margin-right: 0.7rem;
}
.fate.window-app .window-content .biography .artwork img {
  width: 200px;
  border: 2px solid black;
  border-radius: 0;
  cursor: pointer;
}
.fate.window-app .window-content .biography .artwork img.disabled {
  cursor: default;
}
.fate.window-app .window-content .biography .text {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.fate.window-app .window-content .biography .editor {
  flex: 1;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid black;
}

#chat-log .message {
  border: 2px solid black;
  border-radius: 0;
  background: #c8c8c8;
  font-family: "Montserrat", "Arial", sans-serif;
}
#chat-log .message .message-header {
  color: black;
}
#chat-log .message h2 {
  border-bottom: 2px solid black;
  font-weight: bold;
  text-align: center;
}
#chat-log .message p {
  font-size: 1.1em;
}
#chat-log .message .dice-roll .dice-formula,
#chat-log .message .dice-roll .dice-total {
  border: 1px solid black;
  border-radius: 0;
  box-shadow: none;
}
#chat-log .message .dice-tooltip .part-formula {
  border-bottom: 1px solid black;
}
#chat-log .message .dice-tooltip .part-formula .part-total {
  border: 1px solid black;
  border-bottom: none;
  border-radius: 0;
}

.fate.core.character-sheet .window-content h2 {
  font-size: 1em;
}
.fate.core.character-sheet .window-content .logo {
  height: 106px;
}
.fate.core.character-sheet .window-content .property {
  flex-direction: row;
}
.fate.core.character-sheet .window-content .property-label {
  width: 70px;
  font-size: 0.7em;
}
.fate.core.character-sheet .window-content .property-input, .fate.core.character-sheet .window-content .property-textarea {
  flex: 1;
}
.fate.core.character-sheet .window-content .refresh {
  display: flex;
  flex-direction: column;
}
.fate.core.character-sheet .window-content .refresh .refresh-boxes {
  display: flex;
}
.fate.core.character-sheet .window-content .refresh .refresh-boxes .property {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.fate.core.character-sheet .window-content .refresh .refresh-boxes .property-input {
  flex: 1;
  font-size: 2.5em;
}
.fate.core.character-sheet .window-content .aspects {
  flex: 1;
}
.fate.core.character-sheet .window-content .aspects .other .property-label {
  width: auto;
  padding-left: 6px;
  font-size: 0.9em;
  font-weight: bold;
  text-align: center;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
}
.fate.core.character-sheet .window-content .aspects .other-list {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.fate.core.character-sheet .window-content .skills {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.fate.core.character-sheet .window-content .skills-list {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.fate.core.character-sheet .window-content .skills-rows {
  flex: 1;
  display: flex;
  align-items: center;
}
.fate.core.character-sheet .window-content .skills-rows:not(:last-child) {
  margin-bottom: 6px;
}
.fate.core.character-sheet .window-content .skills-level {
  width: 110px;
  margin-right: 4px;
  text-align: right;
}
.fate.core.character-sheet .window-content .skills-boxes {
  flex: 1;
  display: flex;
  height: 100%;
}
.fate.core.character-sheet .window-content .skills .skill-box {
  display: flex;
  align-items: center;
  width: 76px;
  height: 25.5px;
  margin-bottom: 0;
  padding: 2px;
  border: 2px solid black;
  background: rgba(255, 255, 255, 0.75);
  font-size: 0.9em;
  font-weight: bold;
}
.fate.core.character-sheet .window-content .skills .skill-box:not(:last-child) {
  margin-right: 4px;
}
.fate.core.character-sheet .window-content .skills .skill-box__14 {
  border-color: #666666;
  background-color: rgba(242, 242, 242, 0.75);
}
.fate.core.character-sheet .window-content .skills .skill-box__15 {
  border-color: #666666;
  background-color: rgba(242, 242, 242, 0.75);
}
.fate.core.character-sheet .window-content .skills .skill-box__23 {
  border-color: #666666;
  background-color: rgba(242, 242, 242, 0.75);
}
.fate.core.character-sheet .window-content .skills .skill-box__24 {
  border-color: #666666;
  background-color: rgba(242, 242, 242, 0.75);
}
.fate.core.character-sheet .window-content .skills .skill-box__25 {
  border-color: #666666;
  background-color: rgba(242, 242, 242, 0.75);
}
.fate.core.character-sheet .window-content .skills .skill-box__32 {
  border-color: #666666;
  background-color: rgba(242, 242, 242, 0.75);
}
.fate.core.character-sheet .window-content .skills .skill-box__33 {
  border-color: #666666;
  background-color: rgba(242, 242, 242, 0.75);
}
.fate.core.character-sheet .window-content .skills .skill-box__34 {
  border-color: #666666;
  background-color: rgba(242, 242, 242, 0.75);
}
.fate.core.character-sheet .window-content .skills .skill-box__35 {
  border-color: #666666;
  background-color: rgba(242, 242, 242, 0.75);
}
.fate.core.character-sheet .window-content .skills .skill-box__41 {
  border-color: #666666;
  background-color: rgba(242, 242, 242, 0.75);
}
.fate.core.character-sheet .window-content .skills .skill-box__42 {
  border-color: #666666;
  background-color: rgba(242, 242, 242, 0.75);
}
.fate.core.character-sheet .window-content .skills .skill-box__43 {
  border-color: #666666;
  background-color: rgba(242, 242, 242, 0.75);
}
.fate.core.character-sheet .window-content .skills .skill-box__44 {
  border-color: #666666;
  background-color: rgba(242, 242, 242, 0.75);
}
.fate.core.character-sheet .window-content .skills .skill-box__45 {
  border-color: #666666;
  background-color: rgba(242, 242, 242, 0.75);
}
.fate.core.character-sheet .window-content .skills .skill-box__50 {
  border-color: #666666;
  background-color: rgba(242, 242, 242, 0.75);
}
.fate.core.character-sheet .window-content .skills .skill-box__51 {
  border-color: #666666;
  background-color: rgba(242, 242, 242, 0.75);
}
.fate.core.character-sheet .window-content .skills .skill-box__52 {
  border-color: #666666;
  background-color: rgba(242, 242, 242, 0.75);
}
.fate.core.character-sheet .window-content .skills .skill-box__53 {
  border-color: #666666;
  background-color: rgba(242, 242, 242, 0.75);
}
.fate.core.character-sheet .window-content .skills .skill-box__54 {
  border-color: #666666;
  background-color: rgba(242, 242, 242, 0.75);
}
.fate.core.character-sheet .window-content .skills .skill-box__55 {
  border-color: #666666;
  background-color: rgba(242, 242, 242, 0.75);
}
.fate.core.character-sheet .window-content .skills .skill-box__60 {
  border-color: #666666;
  background-color: rgba(242, 242, 242, 0.75);
}
.fate.core.character-sheet .window-content .skills .skill-box__61 {
  border-color: #666666;
  background-color: rgba(242, 242, 242, 0.75);
}
.fate.core.character-sheet .window-content .skills .skill-box__62 {
  border-color: #666666;
  background-color: rgba(242, 242, 242, 0.75);
}
.fate.core.character-sheet .window-content .skills .skill-box__63 {
  border-color: #666666;
  background-color: rgba(242, 242, 242, 0.75);
}
.fate.core.character-sheet .window-content .skills .skill-box__64 {
  border-color: #666666;
  background-color: rgba(242, 242, 242, 0.75);
}
.fate.core.character-sheet .window-content .skills .skill-box__65 {
  border-color: #666666;
  background-color: rgba(242, 242, 242, 0.75);
}
.fate.core.character-sheet .window-content .skills .skill-box__70 {
  border-color: #666666;
  background-color: rgba(242, 242, 242, 0.75);
}
.fate.core.character-sheet .window-content .skills .skill-box__71 {
  border-color: #666666;
  background-color: rgba(242, 242, 242, 0.75);
}
.fate.core.character-sheet .window-content .skills .skill-box__72 {
  border-color: #666666;
  background-color: rgba(242, 242, 242, 0.75);
}
.fate.core.character-sheet .window-content .skills .skill-box__73 {
  border-color: #666666;
  background-color: rgba(242, 242, 242, 0.75);
}
.fate.core.character-sheet .window-content .skills .skill-box__74 {
  border-color: #666666;
  background-color: rgba(242, 242, 242, 0.75);
}
.fate.core.character-sheet .window-content .skills .skill-box__75 {
  border-color: #666666;
  background-color: rgba(242, 242, 242, 0.75);
}
.fate.core.character-sheet .window-content .skills .skill-box__80 {
  border-color: #666666;
  background-color: rgba(242, 242, 242, 0.75);
}
.fate.core.character-sheet .window-content .skills .skill-box__81 {
  border-color: #666666;
  background-color: rgba(242, 242, 242, 0.75);
}
.fate.core.character-sheet .window-content .skills .skill-box__82 {
  border-color: #666666;
  background-color: rgba(242, 242, 242, 0.75);
}
.fate.core.character-sheet .window-content .skills .skill-box__83 {
  border-color: #666666;
  background-color: rgba(242, 242, 242, 0.75);
}
.fate.core.character-sheet .window-content .skills .skill-box__84 {
  border-color: #666666;
  background-color: rgba(242, 242, 242, 0.75);
}
.fate.core.character-sheet .window-content .skills .skill-box__85 {
  border-color: #666666;
  background-color: rgba(242, 242, 242, 0.75);
}
.fate.core.character-sheet .window-content .skills .skill-edit {
  cursor: pointer;
}
.fate.core.character-sheet .window-content .skills .skill-item {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.fate.core.character-sheet .window-content .items {
  flex: 1;
}
.fate.core.character-sheet .window-content .extras {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.fate.core.character-sheet .window-content .stunts-list {
  flex-direction: column;
}
.fate.core.character-sheet .window-content .stress > *:not(:last-child) {
  margin-bottom: 0.4em;
}
.fate.core.character-sheet .window-content .stress-boxes {
  flex-direction: row;
}
.fate.core.character-sheet .window-content .stress-boxes .stress-item {
  margin-bottom: 0;
}
.fate.core.character-sheet .window-content .stress-boxes .stress-item:not(:last-child) {
  margin-right: 0.5em;
}
.fate.core.character-sheet .window-content .stress-boxes .stress-item.disabled {
  opacity: 0.5;
}
.fate.core.character-sheet .window-content .stress-boxes .stress-number {
  margin-top: -0.1em;
  font-size: 1.5em;
}
.fate.core.character-sheet .window-content .stress-boxes .stress-box {
  width: 2em;
  height: 2em;
}
.fate.core.character-sheet .window-content .stress-boxes .stress-box .fa-check {
  font-size: 1.5em;
}
.fate.core.character-sheet .window-content .consequences .consequence-value {
  font-size: 1.5em;
}
.fate.core.character-sheet .window-content .consequences .consequence-value.disabled {
  opacity: 0.5;
}
.fate.core.character-sheet .window-content .consequences .property {
  padding: 0.1em;
}
.fate.core.character-sheet .window-content .consequences .property-label {
  width: 50px;
  padding: 0.1em;
}
.fate.core.character-sheet .window-content .consequences .property.disabled {
  opacity: 0.5;
}
.fate.core.character-sheet .window-content .consequences .mild .property {
  margin: 0;
}

.skill-dialog .text {
  text-align: center;
}
.skill-dialog .bonus {
  display: flex;
  justify-content: center;
  align-items: center;
}
.skill-dialog .bonus label {
  margin-right: 0.6em;
  font-weight: bold;
}
.skill-dialog .bonus .property {
  width: 40px;
}
.skill-dialog .dialog-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4px;
}
.skill-dialog .dialog-buttons button {
  border: 2px solid black;
  box-shadow: none;
}
.skill-dialog .dialog-buttons button:hover {
  background: rgba(255, 255, 255, 0.2);
}
.skill-dialog .dialog-buttons .fi {
  font-size: 1.6em;
}

.fate.accelerated.character-sheet .logo {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 196px;
}
.fate.accelerated.character-sheet .logo .logo-divider {
  width: 100%;
  border: none;
  border-bottom: 4px solid #1671b9;
}
.fate.accelerated.character-sheet .logo .image {
  border: none;
}
.fate.accelerated.character-sheet .logo .title {
  color: #1671b9;
  font-size: 1.6em;
  font-weight: 900;
  text-transform: uppercase;
}
.fate.accelerated.character-sheet .refresh {
  flex: 1;
}
.fate.accelerated.character-sheet .approaches-list .approach-item {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 0.2em;
}
.fate.accelerated.character-sheet .approaches-list .approach-item:last-child {
  margin-bottom: 0;
}
.fate.accelerated.character-sheet .approaches-list .property-label {
  margin-right: 0.4em;
  font-size: 1em;
  font-weight: bold;
  text-align: right;
}

.fate.condensed.character-sheet .header {
  padding: 0 1rem;
  font-size: 1.4em;
}
.fate.condensed.character-sheet .property {
  padding: 0;
  border: none;
}
.fate.condensed.character-sheet .item-list .header .item-controls {
  font-size: 1rem;
}
.fate.condensed.character-sheet .name {
  flex: 1;
  margin-bottom: 0;
}
.fate.condensed.character-sheet .name .property-input {
  font-size: 1.4em;
}
.fate.condensed.character-sheet .image {
  height: 60px;
}
.fate.condensed.character-sheet .sheet-grid {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
}
.fate.condensed.character-sheet .aspects .property-container {
  margin-right: 0.3rem;
  margin-bottom: 0.6rem;
}
.fate.condensed.character-sheet .vitals {
  border-left: 4px solid black;
}
.fate.condensed.character-sheet .vitals .property-container {
  margin-left: 0.3rem;
  margin-bottom: 0.6rem;
}
.fate.condensed.character-sheet .skills {
  border-left: 4px solid black;
}
.fate.condensed.character-sheet .stunts-list {
  margin-right: 0.3rem;
}
.fate.condensed.character-sheet .skills-list {
  margin-left: 0.3rem;
}
.fate.condensed.character-sheet .left-column {
  display: flex;
  flex-direction: column;
}
.fate.condensed.character-sheet .stunts {
  margin-bottom: 0.4rem;
}
.fate.condensed.character-sheet .fate-points {
  position: relative;
  margin-top: 3em;
  margin-bottom: 1em;
}
.fate.condensed.character-sheet .fate-points .header {
  text-align: right;
}
.fate.condensed.character-sheet .fate-points .content {
  position: absolute;
  display: flex;
  align-items: center;
  top: -3em;
  left: 2em;
}
.fate.condensed.character-sheet .fate-points .current-field {
  width: 6em;
  height: 6em;
  border: 4px solid black;
  border-radius: 100%;
  background: #e6e6e6;
  z-index: 1;
}
.fate.condensed.character-sheet .fate-points .current-field .current-input {
  min-height: 0;
  border: none;
  background: none;
  font-weight: bold;
  text-align: center;
  width: 100%;
  height: 100%;
  min-height: 0;
  padding-left: 0.1em;
  font-size: 3.6em;
}
.fate.condensed.character-sheet .fate-points .refresh-field {
  width: 3em;
  margin-left: -0.4em;
  padding: 0.2em 0;
  border: 2px solid black;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  background: #e6e6e6;
}
.fate.condensed.character-sheet .fate-points .refresh-field .refresh-input {
  min-height: 0;
  border: none;
  background: none;
  font-weight: bold;
  text-align: center;
  font-size: 2em;
}

.fate.item .window-content {
  overflow: hidden;
}
.fate.item .window-content form {
  overflow: hidden;
}
.fate.item .window-content .sheet-header {
  margin-bottom: 0.5rem;
}
.fate.item .window-content .sheet-header h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.6em;
}
.fate.item .window-content .sheet-header input {
  padding: 0 0.2em;
  font-weight: bold;
}
.fate.item .window-content .sheet-content {
  overflow: hidden;
}
.fate.item .window-content .sheet-body {
  overflow-y: scroll;
}
.fate.item .window-content .tab[data-tab].active {
  flex-direction: column;
}
.fate.item .window-content .data {
  display: flex;
  flex-direction: column;
}
.fate.item .window-content .data label {
  line-height: 1.85em;
  font-weight: bold;
  text-align: right;
}
.fate.item .window-content .data input[type=checkbox] {
  height: auto;
}
.fate.item .window-content .data .property {
  background: rgba(255, 255, 255, 0.75);
}
.fate.item .window-content .data-skill {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 4px;
  align-items: center;
  padding: 0.4em 6em;
  font-size: 1.4em;
}
.fate.item .window-content .data-extra .basic {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 4px;
  align-items: center;
}
.fate.item .window-content .data-extra .actions h2 {
  margin-bottom: 0.6em;
  border-bottom: 2px solid black;
  text-align: center;
}
.fate.item .window-content .data-extra .actions .actions-list {
  display: flex;
  flex-direction: column;
}
.fate.item .window-content .data-extra .actions .actions-list .action-header {
  margin-bottom: 0.4em;
  padding-left: 0.2em;
  font-weight: bold;
}
.fate.item .window-content .data-extra .actions .actions-list .property-textarea {
  margin-bottom: 0.6em;
  border-bottom: 2px solid black;
}
/* The container */
.box {
  display: flex-row;
  float:left;
  position: relative;
  padding-left: 0px;
  margin-bottom: 2px;
  margin-top: 0px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border: solid;
  border-color:#2f3542;
  border-width:3px;
  background-color:white;
}

/* On mouse-over, add a grey background color */
.box:hover input ~ .checkmark {
  background-color: lightsteelblue;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "X";
  position: absolute;
  top: 65%;
  left: 60%;
  font-weight:900;
  font-size:20px;
  display: none;
  height: 20px;
  width: 20px;
  background-color:none;
  transform:translate(-50%, -75%)
    
}

/* Show the checkmark when checked */
.box input:checked ~ .checkmark:after {
  display: block;
}

.cs_box {
  background-color:white !important;
  font-family:Montserrat !important;
  border-top:none !important;
  border-radius:0 !important;
  border-right:none !important;
  border-left:none !important;
  border-bottom:1px solid lightsteelblue !important
}

.cs_box:hover {
  background-color: lightsteelblue !important;
}

.aspect_box {
  font-size:small !important; 
  width:200px !important; 
  margin-top:5px !important; 
  margin-bottom:5px !important; 
  border-style:solid !important; 
  height:25px !important; 
  float:left !important; 
  padding:5px !important; 
  color:black !important; 
  background-color :white !important; 
  font-family:Montserrat !important; 
  border:none !important; 
  border-bottom: 1px solid lightsteelblue !important
}

.aspect_box:hover {
  background-color: lightsteelblue !important;
}

.long_text {
  min-height:50px !important; 
  background-color:white !important;
}

.long_text:hover {
  background-color: lightsteelblue !important;
}