<form onsubmit="event.preventDefault();">
    <table style="width:auto" cellspacing ="4" cellpadding="4">
        <tr>
            <td>
                Aspects:
            </td>
            <td>
                <select id="aspectListBox" size = "25" style="background: white; color: black; font-family:Arial; width: 150px; height: 250px">
                    {{#each aspects}}
                        <option>
                            {{this.name}}
                        </option>>
                    {{/each}}
                </select>
            </td>
            <td>
                <button type="button" id="editAspect">Edit</button><p></p>
                <button type="button" id="deleteAspect">Delete</button><p></p>
                <button buttontype="button" id="copyAspect">Copy</button><p></p>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <button type="button" id="addAspect">Add New Aspect</button>
            </td>
        </tr>
    </table>
</form>