<form>
<img class="mfate-sheet__identity-avatar profile-img" width="100" height="auto" style="border:0" id="avatar" data-edit="img" src="{{actor.img}}"></img>
<textarea class="mfate-sheet__identity-name" name="name" rows="2" data-edit="name">{{actor.name}}</textarea></div>
<div class="mfate-biography__content long_text" id="{{this.actor.id}}_biography" contenteditable="true" data-edit="data.details.biography.value" name="data.details.biography.value">{{{data.details.biography.value}}}</div>
</form>