<div class="fate" style="margin-left:20px; margin-right:20px; overflow-y:auto;">
    <table style="background-color:none; border:none; margin-left:10px; margin-right:10px; width:98%">
        <tr style="background-color:transparent">
            <td colspan="2">
                <strong>{{localize 'fate-core-official.sheetHeaderColour'}}</strong><br/>
                <div>{{localize 'fate-core-official.sheetHeaderColourHint'}}</div>
            </td>
            <td>
                <color-Picker name="sheet_header_colour" value="{{this.sheet_header_colour}}"></color-Picker> 
            </td>
        </tr>
        <tr style="background-color:transparent">
            <td colspan="2">
                <strong>{{localize 'fate-core-official.sheetAccentColour'}}</strong><br/>
                <div>{{localize 'fate-core-official.sheetAccentColourHint'}}</div>
            </td>
            <td>
                <color-picker name="sheet_accent_colour" value = {{this.sheet_accent_colour}}></color-picker>
            </td>
        </tr>
        <tr style="background-color:transparent">
            <td colspan="2">
                <strong>{{localize 'fate-core-official.sheetBackgroundColour'}}</strong><br/>
                <div>{{localize 'fate-core-official.sheetBackgroundColourHint'}}</div>
            </td>
            <td>
                <color-picker name="backgroundColour" value = {{this.backgroundColour}}></color-picker>
            </td>
        </tr>
        <tr style="background-color:transparent">
            <td colspan="2">
                <strong>{{localize 'fate-core-official.sheetInputColour'}}</strong><br/>
                <div>{{localize 'fate-core-official.sheetInputColourHint'}}</div>
            </td>
            <td>
                <color-picker name="inputColour" value = {{this.inputColour}}></color-picker>
            </td>
        </tr>
        <tr style="background-color:transparent">
            <td colspan="2">
                <strong>{{localize 'fate-core-official.sheetTextColour'}}</strong><br/>
                <div>{{localize 'fate-core-official.sheetTextColourHint'}}</div>
            </td>
            <td>
                <color-picker name="textColour" value = {{this.textColour}}></color-picker>
            </td>
        </tr>
        <tr style="background-color:transparent">
            <td colspan="2">
                <strong>{{localize 'fate-core-official.sheetInteractableColour'}}</strong><br/>
                <div>{{localize 'fate-core-official.sheetInteractableColourHint'}}</div>
            </td>
            <td>
                <color-picker name="interactableColour" value = {{this.interactableColour}}></color-picker>
            </td>
        </tr>
        <tr style="background-color:transparent">
            <td colspan="2">
                <strong>{{localize 'fate-core-official.sheetLabelColour'}}</strong><br/>
                <div>{{localize 'fate-core-official.sheetLabelColourHint'}}</div>
            </td>
            <td>
                <color-picker name="sheet_label_colour" value = {{this.sheet_label_colour}}></color-picker>
            </td>
        </tr>
        <tr style="background-color:transparent">
            <td colspan="2">
                <strong>{{localize 'fate-core-official.notched-headers'}}</strong><br/>
                <div>{{localize 'fate-core-official.notched-headers-hint'}}</div>
            </td>
            <td>
                <input name="use_notched" type="checkbox" {{#if this.use_notched}}checked = "checked"{{/if}}></input>
            </td>
        </tr>
        <tr style="background-color:transparent">
            <td colspan="2">
                <strong>{{localize 'fate-core-official.fcoAspectPaneHeight'}}</strong><br/>
                <div>{{localize 'fate-core-official.fcoAspectPaneHeightHint'}}</div>
            </td>
            <td>
                <range-picker name="fco_aspects_panel_height" value = "{{this.fco_aspects_panel_height}}" max = "90" min = "10" step = "5">
            </td>
        </tr>
        <tr style="background-color:transparent">
            <td colspan="2">
                <strong>{{localize 'fate-core-official.fcoSkillsPaneHeight'}}</strong><br/>
                <div>{{localize 'fate-core-official.fcoSkillsPaneHeightHint'}}</div>
            </td>
            <td>
                <range-picker name="fco_skills_panel_height" value = "{{this.fco_skills_panel_height}}" max = "90" min = "10" step = "5">
            </td>
        </tr>
        <tr style="background-color:transparent">
            <td colspan = "3">
                <strong>{{localize 'fate-core-official.sheet-logo'}}</strong><br/>
                <div>{{localize 'fate-core-official.user-sheet-logo-hint'}}</div>
            </td>
        </tr>
        <tr style="background-color:transparent">
            <td colspan = "3">
                <div style="display:flex; flex-direction:row; gap:10px">
                    <file-picker style="width: 500px" name = "fco_user_sheet_logo" value="{{fco_user_sheet_logo}}"></file-picker>
                    <img src = "{{fco_user_sheet_logo}}" name = "fco_user_sheet_logo_img" style="width:100px; height:auto"></img>
                </div>
            </td>
        </tr>
        <tr style="background-color:transparent">
            <td colspan="3" style="text-align:center">
                <div style="display:flex; flex-direction:row; gap:10px;">
                    <button name="save_sheet_settings" style="width:5em;">{{localize 'fate-core-official.Save'}}</button>
                    <button name="apply_sheet_settings" style="width:5em">{{localize 'fate-core-official.Apply'}}</button>
                    <button name="undo" style="width:5em" title="{{localize 'fate-core-official.RestoreSheet'}}"><i icon class="fas fa-undo"></i></button>
                    <button name="fco_view_colourSchemes" style="width:5em" title="{{localize 'fate-core-official.viewStoredColourSchemes'}}"><i icon class="fas fa-palette"></i></button>
                    <button name="fco_store_colourScheme" style="width:5em" title="{{localize 'fate-core-official.storeColourScheme'}}"><i icon class="fas fa-download"></i></button>
                    <button name="fco_load_custom" style="width:5em" title="{{localize 'fate-core-official.LoadCustomSheet'}}"><i icon class="fas fa-upload"></i></button>
                    <button name="del_fco_custom" style="width:5em" title="{{localize 'fate-core-official.deleteSheetCustomisations'}}"><i icon class="fas fa-trash"></i></button>
                    {{#if (fco_isGM)}}
                        <button name="fco_make_default" style="width:5em" title="{{localize 'fate-core-official.makeDefault'}}"><i icon class="fas fa-hammer"></i></button>
                    {{/if}}
                </div>
            </td>
        </tr>
    </table>
</div>
