<form onsubmit="event.preventDefault();">
    <table style="width:800" "height:750" cellspacing ="4" cellpadding="4">
        <tr>
            <td width="100">
                {{localize 'fate-core-official.Skill'}}:
            </td>
            <td>
                <input type="text" id ="edit_skill_name" name="name" style="background: white; color: black; font-family:Arial;" value="{{skill.name}}"></input>
            </td>
        </tr>
        <tr>
            <td>
                {{localize 'fate-core-official.Description'}}:
            </td>
            <td>
                <div name="description" data-edit="description" id="edit_skill_description" style="background: white; color: black; font-family:Arial;">{{{enr skill.description}}}</div>
            </td>
        </tr>
        <tr>
            <td>
                {{localize 'fate-core-official.Overcome'}}:
            </td>
            <td>
                <div name="overcome" data-edit="overcome" id="edit_skill_overcome" style="background: white; color: black; font-family:Arial;">{{{enr skill.overcome}}}</div>
            </td>   
        </tr>
        <tr>
            <td>
                {{localize 'fate-core-official.CAA'}}:
            </td>
            <td>
                <div name="caa" data-edit="caa" id="edit_skill_caa" style="background: white; color: black; font-family:Arial;">{{{enr skill.caa}}}</div>
            </td>   
        </tr>
        <tr>
            <td>
                {{localize 'fate-core-official.Attack'}}:
            </td>
            <td>
                <div name="attack" data-edit="attack" id="edit_skill_attack" style="background: white; color: black; font-family:Arial;">{{{enr skill.attack}}}</textarea>
            </td>   
        </tr>
        <tr>
            <td>
                {{localize 'fate-core-official.Defend'}}:
            </td>
            <td>
                <div name="defend" data-edit="defend" id="edit_skill_defend" style="background: white; color: black; font-family:Arial;">{{{enr skill.defend}}}</div>
            </td>   
        </tr>
        <tr>
            <td>
                {{localize 'fate-core-official.PCSkill'}}:
            </td>
            <td>
                {{#if skill.pc}}
                <input name="pc" type="checkbox" id="edit_pc" checked></input>
                {{else}}
                <input type="checkbox" id="edit_pc"></input>
                {{/if}}
            </td>   
        </tr>
        <tr>
            <td colspan="2">
                <button type="button" id="edit_save_changes">{{localize 'fate-core-official.SaveChanges'}}</button>
            </td>
        </tr>
    </table>
</form>