<form onsubmit="event.preventDefault();">
    <table style="width:800; height:50vh" cellspacing ="4" cellpadding="4">
        <tr>
            <td width="100">
                {{localize 'fate-core-official.Aspect'}}:
            </td>
            <td>
                <input name="name" type="text" id ="edit_aspect_name" style="background: white; color: black; font-family: var(--fco-font-family);" value="{{aspect.name}}"></input>
            </td>
        </tr>
        <tr>
            <td>
                {{localize 'fate-core-official.Description'}}:
            </td>
            <td>
                <div id="edit_aspect_description_rich" tabindex = "0" style="min-height:45vh; max-height:45vh; overflow-y:auto; padding:5px; background: white; color: black; font-family: var(--fco-font-family);">{{{richDesc}}}</div>
                <div data-edit="description" contenteditable="true" id="edit_aspect_description" style="display:none; min-height:45vh; max-height:45vh; overflow-y:auto; padding:5px; background: white; color: black; font-family: var(--fco-font-family);">{{{aspect.description}}}</div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <button  type="button" id="edit_aspect_save_changes">{{localize 'fate-core-official.SaveChanges'}}</button>
            </td>
        </tr>
    </table>
</form>