<form class="editable" onsubmit="event.preventDefault();">
<table style="border:none; background:none">
    <tr>
        <td colspan="2">
            <hr><h3>World skills present on this character</h3><hr>
        </td>
    </tr>
    {{#each present_skills}}
    <tr>
        <td style="width:100px">
            <input type="checkbox" checked id="{{this.name}}" name="{{this.name}}_present"}>
        </td>
        <td>
            {{this.name}}
        </td>
    </tr>
    {{/each}}
    <tr>
            <td colspan="2">
                <hr><h3>Orphaned skills on this character but not on the World</h3><hr>
            </td>
        </tr>
        {{#each orphaned}}
        <tr>
            <td style="width:100px">
                <input type="checkbox" checked id="{{this.name}}" name="{{this.name}}_present"}>
            </td>
            <td>
                {{this.name}}
            </td>
        </tr>
        {{/each}}
        <tr>
            <td colspan="2">
                <hr><h3>Ad-hoc skills present on this character</h3><hr>
            </td>
        </tr>
    {{#each ad_hoc}}
    <tr>
        <td style="width:100px">
            <input type="checkbox" checked id="{{this.name}}" name="{{this.name}}_present"}>
        </td>
        <td>
            {{this.name}}
        </td>
    </tr>
    {{/each}}
    <tr>
        <td colspan="2">
            <hr><h3>World skills absent from this character</h3><hr>
        </td>
    </tr>
    {{#each absent_skills}}
    <tr>
        <td>
            <input type="checkbox" id="{{this.name}}" name="{{this.name}}_present"}>
        </td>
        <td>
            {{this.name}}
        </td>
    </tr>
    {{/each}}
    <tr>
        <td colspan="2">
            <hr><h3>Non-PC world skils that can be added<h3></h3><hr>
        </td>
    </tr>
    {{#each non_pc}}
    <tr>
        <td>
            <input type="checkbox" id="{{this.name}}" name="{{this.name}}_present"}>
        </td>
        <td>
            {{this.name}}
        </td>
    </tr>
    {{/each}}
</table>
<table style="background:none; border:none">
    <tr>
        <td>
            Ad-hoc skill to add:
        </td>
        <td>
            <input name="ad_hoc_input" id="ad_hoc_input" style="color:black; background: white; font-family:Arial; width:200px"><button style="width:30px; height:30px;"" type="button" id="add_ah_button" i icon class="fas fa-plus"></button>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <button type="button" id="add_remove_button">
                Add checked skills and remove unchecked skills
            </button>
        </td>
    </tr>
</table>
</form>