<form class="editable" onsubmit="event.preventDefault();">
    <table>
            {{#each character_skills}}
                <tr>
                    <td>
                        <button type="button" id="{{this.name}}" class="skill_button">{{this.name}}</button>
                    </td>
                    <td>
                        <input type="number" min="-2" max="10" name="{{this.name}}_rank" id="{{this.name}}_rank" class="rank_input" value={{this.rank}} style="width:50px; height:25px;"></input>
                    </td>
                </tr>
            {{/each}}
            <tr>                
                <td colspan="2"><button type="button" id="save_player_skills">Save</button></td>
            </tr>
    </table>
</form>