<div>
    <table style="width:900; height:50vh; margin:0;" cellspacing ="4" cellpadding="4">
        <tr>
            <td width="100">
                {{localize 'fate-core-official.Aspect'}}:
            </td>
            <td style="height:3em">
                <input name="name" type="text" id ="edit_aspect_name" style="background: white; color: black; font-family: var(--fco-font-family);" value="{{aspect.name}}"></input>
            </td>
        </tr>
        <tr>
            <td>
                {{localize 'fate-core-official.Description'}}:
            </td>
            <td>
                <prose-mirror class="fco_prose_mirror editAspect" data-edit="description" value="{{aspect.description}}">
                    {{{richDesc}}}
                </prose-mirror>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="height:3em">
                <div style = "display:grid">
                    <button type="button" name="edit_aspect_save_changes">{{localize 'fate-core-official.SaveChanges'}}</button>
                </div>
            </td>
        </tr>
    </table>
</div>