<div style="margin:10px">
    <div align = "left">
        <p style="font-size:1.25rem; font-weight:bolder">{{localize 'fate-core-official.EditingTracks'}}
        {{#if (eq this.category "Combat")}}
            {{localize 'fate-core-official.Combat'}}
        {{else}}
            {{#if (eq this.category "Other")}}
                {{localize 'fate-core-official.Other'}}
            {{else}}
                {{this.category}} 
            {{/if}}
        {{/if}}
        {{localize 'fate-core-official.category'}}
    </p> 
    </div>
    <div style = "display:flex; flex-direction:row; gap: 10px; margin-top:25px; margin-bottom:15px;">
        <select id="track_select" style="font-size: 1rem; background: white; color: black; font-family: var(--fco-font-family); width: 300px; height: 50px">
        <option>{{localize 'fate-core-official.NewTrack'}}</option>
        {{#each tracks}}
            <option {{#if (eq ../track.name this.name)}} selected="selected"{{/if}}>{{this.name}}</option>
        {{/each}}
    </select><button type="button" id="copy" style="width:50px; height:50px"><i class = "fas fa-copy fa-xl"></i></button>
    <button type="button" id="exportTrack" style="width:50px; height:50px"><i class = "fas fa-file-export fa-xl"></i></button>   
    </div>

    <div style = "overflow-y:auto; max-height:60vh" class = "fco_scrollable">

    
    <table style="width:95%" cellspacing ="4" cellpadding="4">
        <tr>
            <td width="200">
                {{localize 'fate-core-official.Name'}}:
            </td>
            <td>
                <input type="text" id ="edit_track_name" style="background: white; color: black; font-family: var(--fco-font-family);" value="{{track.name}}"></input>
            </td>
        </tr>
        <tr>
            <td>
                {{localize 'fate-core-official.Description'}}:
            </td>
            <td>
                <prose-mirror toggled="true" class="fco_prose_mirror fco_edit_track_desc"  name="description" value="{{track.description}}">
                    {{{richDesc}}}
                </prose-mirror>
            </td>
        </tr>
        <tr>
            <td>
                {{localize 'fate-core-official.Universal'}}<p/><p/>
            <td>
                <input type="checkbox" id="edit_track_universal" {{#if track.universal}} checked="checked" {{/if}} ></input>{{localize 'fate-core-official.TrueIfFromSkillRating'}}<br/>
            </td>
        </tr>
        <tr>
            <td>
                {{localize 'fate-core-official.Unique'}}
            </td>
            <td>
                <input type="checkbox" id="edit_track_unique" {{#if track.unique}} checked = "checked"{{/if}}></input>{{localize 'fate-core-official.TrueIfOnlyOneCopy'}} 
            </td>
        </tr>
        <tr>
            <td>
                {{localize 'fate-core-official.Paid'}}
            </td>
            <td>
                <input type="checkbox" id="edit_track_paid" {{#if track.paid}}checked = "checked"{{/if}}></input>{{localize 'fate-core-official.TrueIfCostsOneRefresh'}} 
            </td>
        </tr>
        <tr>
            <td>
                {{localize 'fate-core-official.RecoveryType'}}
            </td>
            <td>
                <select id="edit_track_recovery_type" style="background: white; color: black; font-family: var(--fco-font-family); width: 300px; height: 25px">
                    <option {{#if (eq track.recovery_type "Fleeting")}} selected="selected" {{/if}} value ="Fleeting">{{localize 'fate-core-official.Fleeting'}}</option>
                    <option {{#if (eq track.recovery_type "Sticky")}} selected="selected" {{/if}} value ="Sticky">{{localize 'fate-core-official.Sticky'}}</option>
                    <option {{#if (eq track.recovery_type "Lasting")}} selected="selected" {{/if}} value ="Lasting">{{localize 'fate-core-official.Lasting'}}</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                {{localize 'fate-core-official.Aspect'}}:
            </td>
            <td>
                <select id="edit_track_aspect" style="background: white; color: black; font-family: var(--fco-font-family); width: 300px; height: 25px">
                    <option {{#if (eq track.aspect "no")}} selected="selected"{{/if}} value="no">{{localize 'fate-core-official.No'}}</option>
                    <option {{#if (eq track.aspect "as_name")}} selected="selected"{{/if}} value="as_name">{{localize 'fate-core-official.NameAsAspect'}}</option>
                    <option {{#if (eq track.aspect "when_marked")}} selected="selected"{{/if}} value = "when_marked">{{localize 'fate-core-official.DefinedWhenMarked'}}</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                {{localize 'fate-core-official.WhenMarked'}}
            </td>
            <td>
                <prose-mirror toggled = "true" class="fco_prose_mirror fco_edit_track_when_marked"  name="when_marked" value="{{track.when_marked}}">
                    {{{richWhenMarked}}}
                </prose-mirror>
            </td>
        </tr>
        <tr>
            <td>
                {{localize 'fate-core-official.HowRecover'}}
            </td>
            <td>
                <prose-mirror toggled = "true" class="fco_prose_mirror fco_edit_track_recovery_conditions"  name="recovery_conditions" value="{{track.recovery_conditions}}">
                    {{{richRecovery}}}
                </prose-mirror>
            </td>
        </tr>
        <tr>
            <td>
                {{localize 'fate-core-official.Boxes'}}
            </td>
            <td>
                <input type="number" id="edit_track_boxes" value="{{track.boxes}}" style="background: white; color: black; font-family: var(--fco-font-family); width: 300px; height: 25px"> 
            </td>
        </tr>
        <tr>
            <td>
                {{localize 'fate-core-official.BoxLabels'}}:
            </td>
            <td>
                <select id="track_label_select" style="color:black; background:white; margin-bottom:5px;" >
                    <option {{#if (eq track.label "escalating")}} selected="selected" {{/if}} value="escalating">
                        {{localize 'fate-core-official.Escalating'}}
                    </option>
                    <option {{#if (eq track.label "custom")}} selected="selected" {{/if}} value="custom">
                        {{localize 'fate-core-official.Custom'}}
                    </option>
                    <option {{#if (eq track.label "none")}} selected="selected" {{/if}} value="none">
                        {{localize 'fate-core-official.None'}}
                    </option>
                </select>
                <input type="text" id="track_custom_label" maxlength="1" minlength="1" title="{{localize 'fate-core-official.EnterASingleCharacter'}}" {{#unless (eq track.label "custom")}} hidden="hidden"{{/unless}} style="margin-top:5px; color:black; background:white; width:50px" value="{{this.label}}"/> <span style="margin-top:5px">{{localize 'fate-core-official.LabelOverrides'}}</span>
            </td>
        </tr>
        <tr>
            <td>
                {{localize 'fate-core-official.Harm'}}:
            </td>
            <td>
                <div style="display:flex; flex-direction:row">
                    <input type="number" id="edit_track_harm" value="{{track.harm_can_absorb}}" style="background: white; color: black; font-family: var(--fco-font-family); width: 300px; height: 25px"> <p style="margin-left: 10px; margin-top:0px; vertical-align: text-top">{{localize 'fate-core-official.HowMuchHarm'}}</p>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                {{localize 'fate-core-official.Rollable'}}
            </td>
            <td>
                <select id = "edit_track_rollable" style="background: white; color: black; font-family: var(--fco-font-family); width: 300px; height: 25px">
                    <option value="false" {{#if (eq track.rollable "false")}} selected="selected" {{/if}}>False</option>
                    <option value="full" {{#if (eq track.rollable "full")}} selected="selected" {{/if}}>{{localize 'fate-core-official.RollFullBoxes'}}</option>
                    <option value="empty" {{#if (eq track.rollable "empty")}} selected="selected" {{/if}}>{{localize 'fate-core-official.RollEmptyBoxes'}}</option>
                </select>
            </td>
        </tr>
    </table>
</div>
<div style = "display:flex; flex-direction:row; gap:20px; margin-top:20px">
    <button type="button" id="save_track" style="width:200px; height:50px">{{localize 'fate-core-official.Save'}}</button><button type="button" id="edit_linked_skills" style="width:200px; height:50px" {{#if (eq track.name "New Track")}} disabled="disabled"{{/if}}>{{localize 'fate-core-official.EditLinkedSkills'}}</button><button type="button" style ="width:50px; height:50px" id="delete_track"><i class="fas fa-trash fa-xl"></i></button>
</div>
</div>