<html>
    <table style="width:auto" height="auto" cellspacing ="4" cellpadding="4">
        <tr>
            <td width="100">
                Skill:
            </td>
            <td>
                <input type="text" id ="edit_skill_name" style="background: white; color: black; font-family:Arial;" value="{{skill.name}}"></input>
            </td>
        </tr>
        <tr>
            <td>
                Description:
            </td>
            <td>
                <textarea id="edit_skill_description" rows="6" style="background: white; color: black; font-family:Arial;">{{skill.description}}</textarea>
            </td>
        </tr>
        <tr>
            <td>
                Overcome:
            </td>
            <td>
                <textarea id="edit_skill_overcome" rows="6" style="background: white; color: black; font-family:Arial;">{{skill.overcome}}</textarea>
            </td>   
        </tr>
        <tr>
            <td>
                Create an Advantage:
            </td>
            <td>
                <textarea id="edit_skill_caa" rows="6" style="background: white; color: black; font-family:Arial;">{{skill.caa}}</textarea>
            </td>   
        </tr>
        <tr>
            <td>
                Attack:
            </td>
            <td>
                <textarea id="edit_skill_attack" rows="6" style="background: white; color: black; font-family:Arial;">{{skill.attack}}</textarea>
            </td>   
        </tr>
        <tr>
            <td>
                Defend:
            </td>
            <td>
                <textarea id="edit_skill_defend" rows="6" style="background: white; color: black; font-family:Arial;">{{skill.defend}}</textarea>
            </td>   
        </tr>
        <tr>
            <td>
                PC Skill?:
            </td>
            <td>
                {{#if skill.pc}}
                <input type="checkbox" id="edit_pc" checked></input>
                {{else}}
                <input type="checkbox" id="edit_pc"></input>
                {{/if}}
            </td>   
        </tr>
        <tr>
            <td colspan="2">
                <button type="button" id="edit_save_changes">Save Changes</button>
            </td>
        </tr>
    </table>
</html>