<form class="editable" onsubmit="event.preventDefault();" style="background-color:white; color:black">
    <div id = "header">
    <div name = "stunt_body" style="overflow-y:auto; width:710px; height:auto; border:lightsteelblue; border-width:2px; border-style:solid"><!--Begin body-->
        <table style="background-color: white; border:none; width:690px">    
            <tr>
                <td style="font-family:Montserrat" width="120">Name:</td>
                <td colspan="2"><input style="background-color:white; color:black; font-family:Montserrat; border-left:none; border-right:none; border-top:none; border-bottom: 1px solid lightsteelblue; width:300px" name="name" id="{{stunt.name}}" value="{{stunt.name}}"</input></td>
            </tr>
            <tr>
                <td style="font-family:Montserrat">Linked Skill:</td>                
                <td colspan ="2"><select style="background-color: white; color:black; font-family:Montserrat; border:1px solid lightsteelblue" name="linked_skill"><option selected="selected" disabled="disabled">{{stunt.linked_skill}}</option><option>None</option></option>{{#each skills}}<option>{{this.name}}</option>{{/each}}</select> 
                <i style="font-family:Montserrat; font-style:normal;">Bonus: </i><input name="bonus" type="number" defaultValue="0" min="0" max="10" value="{{stunt.bonus}}" style="color:black; background-color:white; border:solid 1px lightsteelblue"></input></td>
            </tr>
            <tr>
                <td style="font-family:Montserrat">Description:</td>
                <td colspan="2"><textarea name="description" style="background-color:white; color:black; font-family:Montserrat; border: 1px solid lightsteelblue; width:500px;" rows = "5">{{{stunt.description}}}</textarea></td>
            </tr>
            <tr>
                <td style="font-family:Montserrat">Refresh Cost:</td>
                <td><input type="number" min="0" name="refresh_cost" style="height:30px; width:50px; border:solid 1px lightsteelblue" value="{{stunt.refresh_cost}}"></input></td>
                <td>     
                    <input type="checkbox" name="overcome" {{checked stunt.overcome}}></input><b style="font-family:Fate Core; font-size:xx-large; padding-right:20px" title="Overcome">O</b>
                    <input type="checkbox" name="caa" {{checked stunt.caa}}><b style="font-family:Fate Core; font-size:xx-large; padding-right:20px" title="Create an Advantage">C</b></input>
                    <input type="checkbox" name="attack" {{checked stunt.attack}}></input><b style="font-family:Fate Core; font-size:xx-large; padding-right:20px" title="Attack">A</b>
                    <input type="checkbox" name="defend" {{checked stunt.defend}}></input><b style="font-family:Fate Core; font-size:xx-large; padding-right:20px" title="Defend">D</b>                   
                </td>
            </tr>
        </table>
    </div><!--End body-->
    <div id="buttons" style="width:400px">
        <button type="button" style="float:left; width:75px" id="save">Save</button>
    </div><!--End buttons div-->
    </div><!--End of header DIV-->
</form>
