<html>
    <table style="width:auto" height="auto" cellspacing ="4" cellpadding="4">
        <tr>
            <td width="100">
                Aspect:
            </td>
            <td>
                <input type="text" id ="edit_aspect_name" style="background: white; color: black; font-family:Arial;" value="{{aspect.name}}"></input>
            </td>
        </tr>
        <tr>
            <td>
                Description:
            </td>
            <td>
                <textarea id="edit_aspect_description" rows="6" style="background: white; color: black; font-family:Arial;">{{aspect.description}}</textarea>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <button type="button" id="edit_aspect_save_changes">Save Changes</button>
            </td>
        </tr>
    </table>
</html>