<div class="contenteditable" style="background:var(--fco-sheet-background-colour); padding-right:10px; padding-left:10px;">
	<div class = "fcoExtraSheetForm" style="max-height:70vh; overflow-y:scroll; padding-right:10px">
		<table style="border:none; background-color:transparent; width:95%;">
		<tr style="background-color:transparent">
				<td style="font-family:var(--fco-font-family); font-weight:bold; color:var(--fco-sheet-text-colour); font-size:medium; width:25%">{{localize 'fate-core-official.Artwork'}}</td>
				<td style="width:100px"><img data-uuid="{{this.document.uuid}}" class="fco_popviewable mfate-sheet_extra-avatar {{#if this.document.isOwner}}profile-img"{{/if}} id="{{this.document.id}}_avatar" width="150" height="auto" style="border:0; cursor: pointer; padding-right:5px" {{#if this.document.isOwner}}data-edit="img" data-action="editImage"{{/if}} src="{{document.img}}"></img></td>
			 </tr>		
		<tr style="background-color:transparent">
			<td style="font-family:var(--fco-font-family); font-weight:bold; color:var(--fco-sheet-text-colour); font-size:medium; width:25%">{{localize 'fate-core-official.Name'}}:</td>
			<td style="width:75%"><textarea rows="2" id="{{this.document.id}}_name" name="name" style="color:var(--fco-sheet-text-colour); background-color:var(--fco-sheet-input-colour); width:100%; border: solid var(--fco-foundry-interactable-color) 1px; font-family:var(--fco-font-family);">{{this.document.name}}</textarea>
				<div class="fco-extra-r"></div>
			</td>
		 </tr>	
		 <tr style="background-color:transparent">
			<td style="color:var(--fco-sheet-text-colour); font-family:var(--fco-font-family); font-weight:bold; font-size:medium; width:25%">{{localize 'fate-core-official.Permissions'}}:</td>
			<td style="width:75%">
				{{#if editable}}
                            <prose-mirror toggled="true" class="fco_prose_mirror extra_pm" tab-index ="0" name="system.permissions" data-document-u-u-i-d = "{{this.document.uuid}}" value="{{this.document.system.permissions}}" collaborate="true">
                                {{{this.rich.permissions}}}
                            </prose-mirror>
                        {{else}}
                            <div class="fco_ro_rich extra_ro">
                                {{{this.rich.permissions}}}
                            </div>
                        {{/if}}                       
			</td>
		</tr>	
		<tr style="background-color:transparent;">
			<td style="font-family:var(--fco-font-family); color:var(--fco-sheet-text-colour); font-weight:bold; font-size:medium; width:25%">{{localize 'fate-core-official.Costs'}}:</td>
			<td style="width:75%">
				{{#if editable}}
					<prose-mirror toggled="true" class="fco_prose_mirror extra_pm" name="system.costs" data-document-u-u-i-d = "{{this.document.uuid}}" value="{{this.document.system.costs}}" collaborate="true">
						{{{this.rich.costs}}}
					</prose-mirror>
				{{else}}
					<div class="fco_ro_rich extra_ro">
						{{{this.rich.costs}}}
					</div>
				{{/if}} 
			</td>
		</tr>
		<tr style="background-color:transparent">
			<td style="font-family:var(--fco-font-family); color:var(--fco-sheet-text-colour); font-weight:bold; font-size:medium; width:25%">{{localize 'fate-core-official.RefreshCost'}}:</td>
			<td style="width:75%; color:var(--fco-sheet-text-colour);">
				<input type="number" name="system.refresh" style="color:var(--fco-sheet-text-colour); background-color:var(--fco-sheet-input-colour);; border: solid var(--fco-foundry-interactable-color) 1px; font-family:var(--fco-font-family); width:50px" value="{{this.document.system.refresh}}">
				</input>
				{{localize 'fate-core-official.active'}}
				<input style="width:20px; height:20px" name="system.active" type="checkbox" {{#if this.document.system.active}}checked="checked"{{/if}}></input>
			</td>
		</tr>
		<tr style="background-color:transparent">
			<td style="font-family:var(--fco-font-family); color:var(--fco-sheet-text-colour); font-weight:bold; font-size:medium; width:25%">{{localize 'fate-core-official.Description'}}:</td>
			<td style="width:75%;">
				{{#if editable}}					
					<prose-mirror toggled="true" class="fco_prose_mirror extra_pm" name="system.description.value" data-document-u-u-i-d = "{{this.document.uuid}}" value="{{this.document.system.description.value}}" collaborate="true">
						{{{this.rich.description}}}
					</prose-mirror>
				{{else}}
					<div class="fco_ro_rich extra_ro">
						{{{this.rich.description}}}
					</div>
                {{/if}}   
			</td>
		</tr>
		<tr style="background-color:transparent">
			<td style="color:var(--fco-sheet-text-colour); font-family:var(--fco-font-family); font-weight:bold; font-size:medium; width:25%"><i style="font-style:normal; font-family:Fate Core; font-size:x-large;">O</i> {{localize 'fate-core-official.Overcome'}}:</td>
			<td style="width:75%">
				{{#if editable}}					
					<prose-mirror toggled="true" class="fco_prose_mirror extra_pm" name="system.actions.overcome" data-document-u-u-i-d = "{{this.document.uuid}}" value="{{this.document.system.actions.overcome}}" collaborate="true">
						{{{this.rich.overcome}}}
					</prose-mirror>
				{{else}}
					<div class="fco_ro_rich extra_ro">
						{{{this.rich.overcome}}}
					</div>
                {{/if}} 				
			</td>
		<tr style="background-color:transparent">
			<td style="color:var(--fco-sheet-text-colour); font-family:var(--fco-font-family); font-weight:bold; font-size:medium; width:25%"><i style="font-style:normal; font-family:Fate Core; font-size:x-large;">C</i> {{localize 'fate-core-official.CAA'}}:</td>
			<td style="width:75%">
				{{#if editable}}					
					<prose-mirror toggled="true" class="fco_prose_mirror extra_pm" name="system.actions.create" data-document-u-u-i-d = "{{this.document.uuid}}" value="{{this.document.system.actions.create}}" collaborate="true">
						{{{this.rich.create}}}
					</prose-mirror>
				{{else}}
					<div class="fco_ro_rich extra_ro">
						{{{this.rich.create}}}
					</div>
                {{/if}} 		
			</td>
		</tr>
		<tr style="background-color:transparent">
			<td style="color:var(--fco-sheet-text-colour); font-family:var(--fco-font-family); font-weight:bold; font-size:medium; width:25%"><i style="font-style:normal; font-family:Fate Core; font-size:x-large;">A</i> {{localize 'fate-core-official.Attack'}}:</td>
			<td style="width:75%">
				{{#if editable}}					
					<prose-mirror toggled="true" class="fco_prose_mirror extra_pm" name="system.actions.attack" data-document-u-u-i-d = "{{this.document.uuid}}" value="{{this.document.system.actions.attack}}" collaborate="true">
						{{{this.rich.attack}}}
					</prose-mirror>
				{{else}}
					<div class="fco_ro_rich extra_ro">
						{{{this.rich.attack}}}
					</div>
                {{/if}} 
			</td>
		</tr>
		<tr style="background-color:transparent">
			<td style="color:var(--fco-sheet-text-colour); font-family:var(--fco-font-family); font-weight:bold; font-size:medium; width:25%"><i style="font-style:normal; font-family:Fate Core; font-size:x-large;">D</i> {{localize 'fate-core-official.Defend'}}:</td>
			<td style="width:75%">
				{{#if editable}}					
					<prose-mirror toggled="true" class="fco_prose_mirror extra_pm" name="system.actions.defend" data-document-u-u-i-d = "{{this.document.uuid}}" value="{{this.document.system.actions.defend}}" collaborate="true">
						{{{this.rich.defend}}}
					</prose-mirror>
				{{else}}
					<div class="fco_ro_rich extra_ro">
						{{{this.rich.defend}}}
					</div>
                {{/if}} 
			</td>
		</tr>
		</table>

		<!-- Here are the aspects attached to the extra.-->
			<div class="mfate-panel__header">
				<div class="mfate-panel__header-label">{{localize 'fate-core-official.Aspects'}}</div>
				{{#if this.document.isOwner}}<div title="{{localize 'fate-core-official.OpenTheAspectEditor'}}" name="edit_item_aspects" i icon class="fas fa-cog mfate-panel__header-button"></div>{{/if}}
			</div>

			<ul class="mfate-aspects-list">

				{{#each this.document.system.aspects}}

				<li name="aspect" title="{{fco_strip this.description}}" class="mfate-aspects-list__item">
					<div style="color:var(--fco-sheet-text-colour);" name="{{this.name}}" class="mfate-aspects-list__label mf_draggable" {{#if ../GM}}draggable="true"{{/if}} data-mfdtype="aspect" data-mfname="{{this.name}}" data-mfactorid="{{../document.id}}">{{this.name}}</div>
					<textarea style="resize: none;" class="cs_box mfate-aspects-list__input" type="text" name="{{this.name}}">{{this.value}}</textarea>
				</li>
				{{/each}}
			</ul>

		<!--Here are the skills attached to the extra.-->
			<div class="mfate-panel__header">
				<div class="mfate-panel__header-label">{{ skillsLabel }}</div>
				<!-- <button class="mfate-panel__header-button">Settings</button>
					<button class="mfate-panel__header-button">Sort</button> -->
					{{localize 'fate-core-official.CountSkills'}} <input name="system.countSkills" type="checkbox" {{#if this.document.system.countSkills}}checked="checked"{{/if}}></input>
					&nbsp&nbsp{{localize 'fate-core-official.combineSkills'}} <input name="system.combineSkills" type="checkbox" {{#if this.document.system.combineSkills}}checked="checked"{{/if}} style="margin-right:10px"></input>
				{{#if this.document.isOwner}}<div title="{{localize 'fate-core-official.OpenTheSkillEditor'}}" name="edit_item_skills" i icon class="fas fa-cog mfate-panel__header-button"></div>{{/if}}
			</div>
			<div name="skills_body" class="mfate-panel__body">
				<ul class="mfate-skills-list">
			{{#each this.document.system.skills}}
					<li class="mfate-skills-list__item">
						<div class="mfate-skills-list__number">{{this.rank}}</div>
						<div class="mfate-skills-list__adjective">({{lookup ../ladder this.rank}})</div>
						<div class="mfate-skills-list__skill-name_item mf_draggable" {{#if ../GM}}draggable="true"{{/if}} data-mfdtype="skill" data-mfname="{{this.name}}" data-mfactorid="{{../document.id}}" name="skill" id="{{this.name}}">
							{{this.name}}
						</div>
						<div>
							{{#if ../this.document.isOwner}}
								{{#if (eq ../this.document.system.countSkills false)}}
									<i style="color:var(--fco-sheet-text-colour); font-style:normal; padding-left:25px">Count?</i><input type="checkbox" style="color:var(--fco-sheet-text-colour);" class = "count_this_skill" data-skill="{{this.name}}" {{#if this.countMe}}checked = "checked"{{/if}}></input>	
								{{/if}}
								{{#if (eq ../this.document.system.combineSkills false)}}
									<i style="color:var(--fco-sheet-text-colour); font-style:normal; padding-left:25px">Combine?</i><input type="checkbox" style="color:var(--fco-sheet-text-colour); " class = "combine_this_skill" data-skill="{{this.name}}" {{#if this.combineMe}}checked = "checked"{{/if}}></input>
								{{/if}}
								<i style="color:var(--fco-sheet-text-colour); font-style:normal; padding-left:25px">Hide?</i><input type="checkbox" style="color:var(--fco-sheet-text-colour);" class = "hide_this_skill" data-skill="{{this.name}}" {{#if this.hidden}}checked = "checked"{{/if}}></input>	
							{{/if}}
						</div>
					</li>
					{{/each}}
				</ul>
			</div>

		<!-- Here are the stunts attached to the extra.-->

			<div class="mfate-panel__header" name="stunts_header">
				<b class="mfate-panel__header-label">{{localize 'fate-core-official.Stunts'}}</b>
				{{#if this.document.isOwner}}<div title="{{localize 'fate-core-official.ViewTheStuntDatabase'}}" name="item_stunt_db" i icon class="fas fa-book mfate-panel__header-button"></div>
				{{#if GM}}<div title="{{localize 'fate-core-official.uploadAllStunts'}}" name="ul_all_extra_stunts" i icon class="fas fa-angle-double-up mfate-panel__header-button"></div>{{/if}}
				<div class="fas fa-plus mfate-panel__header-button" title="{{localize 'fate-core-official.AddANewStunt'}}" name="edit_item_stunts" i icon></div>{{/if}}
			</div>
				<div name="stunts_body" class = "mfate-stunts__body">
					<div class="mfate-stunts__table">
						{{#each this.rich.stunts}}
						<div class="mfate-stunts__row" style="margin-left:5px">
							<div class="mfate-stunts__row-header mf_draggable" {{#if ../GM}}draggable="true"{{/if}} data-mfdtype="stunt" data-mfname="{{this.name}}" data-mfactorid="{{../document.id}}">
								<div class="mfate-stunts__row-header-cell">
									{{this.name}} ({{this.linked_skill}})
									<button type="button" i icon class="fas fa-trash mfate-stunts__row-header-icon" name="delete_item_stunt" data-stuntname="{{this.name}}"></button> 
									<button type="button" name="edit_item_stunt" i icon class="fas fa-edit mfate-stunts__row-header-icon" data-stuntname="{{this.name}}"></button> {{#if ../GM}}
									<button type="button" name="item_db_stunt" title="{{localize 'fate-core-official.AddStunt'}}" i icon class="fas fa-upload mfate-stunts__row-header-icon" data-stuntname="{{this.name}}"></button> {{/if}}
								</div>
							</div>
							<div class="mfate-stunts__row-body">
								<div style="color:var(--fco-sheet-text-colour);">{{{this.richDesc}}}</div>
							</div>
							<div class="mfate-stunts__row-footer">
								<div class="mfate-stunts__row-footer-cell">
									{{#if this.overcome}}
									<b style="font-family:Fate">O</b> {{/if}} {{#if this.caa}}
									<b style="font-family:Fate">C</b> {{/if}}{{#if this.attack}}
									<b style="font-family:Fate">A</b>{{/if}} {{#if this.defend}}
									<b style="font-family:Fate">D</b>{{/if}}
								</div>
							</div>
						</div>
						{{/each}}
					</div>
					<!--End of stunt body-->
				</div>
				<!-- end of Stunts block-->	

				<!--Here are the tracks attached to the extra.-->
                            <div class="mfate-panel__header" name="tracks_header">
                                <b class="mfate-panel__header-label">{{localize 'fate-core-official.Tracks'}}</b>
                                <select class="mfate-panel__header-select" name="item_track_category">
                                    <option value="All" {{#if (eq category "All")}}selected="selected"{{/if}}>{{localize 'fate-core-official.All'}}</option>
                                    {{#each track_categories}}
										{{#if (eq this "Combat")}}
											<option value="Combat" {{#if (eq "Combat" ../category)}} selected = "selected"{{/if}}>{{localize 'fate-core-official.Combat'}}</option>
										{{else}}
											{{#if (eq this "Other")}}
												<option value="Other" {{#if (eq "Other" ../category)}} selected = "selected"{{/if}}>{{localize 'fate-core-official.Other'}}</option>
											{{else}}}
												{{#if (eq this ../category)}}
													<option selected = "selected">{{this}}</option>
												{{else}}
													<option>{{this}}</option>
												{{/if}}
											{{/if}}
										{{/if}}      
                                    {{/each}}
                                </select>
                                {{#if this.document.isOwner}}<div title="{{localize 'fate-core-official.OpenTheTrackEditor'}}" style="font-size:medium;" name="edit_item_tracks" i icon class="fas fa-cog mfate-panel__header-button"></div>{{/if}}
                            </div>
                            <div name="tracks_body" style="scrollbar-width:thin; {{#if (eq this.contents false)}} margin-bottom:20px{{/if}}">
                                <div class="mfate-tracks__list">
                                    {{#each this.document.system.tracks}}{{#if (category ../category this.category)}}
                                    <div class="mfate-tracks__item">
                                        <div class="mfate-tracks__item-label">
                                            <div name="track_name" style="font-family:var(--fco-font-family)"> 
                                                <i class="mf_draggable" {{#if ../GM}}draggable="true"{{/if}} data-mfdtype="track" data-mfname="{{this.name}}" data-mfactorid="{{../document.id}}" style="font-style:normal; font-weight:bold; font-family: var(--fco-font-family)">{{this.name}}</i>
                                            </div>
                                        </div>
                                    </div>
                                    {{/if}}{{/each}}
                                </div>
                            </div>
							<!--end of tracks body-->
							{{#if (eq this.contents false)}}{{else}}
							<!--Here are the contents of the extra.-->
                            <div class="mfate-panel__header" name="contents_header">
                                <b class="mfate-panel__header-label">{{localize 'fate-core-official.Contents'}}</b> 
							</div>
							<div style="color:var(--fco-sheet-text-colour); margin-bottom:20px" name = "contents_body">
								{{#if this.contents.locked}}<ul>(Container is locked)</ul>{{else}}{{/if}}
								{{#if (eq this.contents.locked false)}}
								{{#each this.contents.extras}}
									<div><ul style = "margin-top:4px; margin-bottom:4px">{{this.name}}</ul></div>
								{{/each}}
								{{/if}}
								{{#if this.contents.locked}}{{#if this.GM}}
								{{#each this.contents.extras}}
									<div><ul>{{this.name}}</ul></div>
								{{/each}}
								{{/if}}{{/if}}
							</div>
							<!--end of contents body-->
							{{/if}}
	</div>
{{#if actorExists}}<button name = "applyExtraToCharacter" type="button" style="width:100%; height:3em; margin-bottom:20px">{{localize 'fate-core-official.UpdateCharacter'}}</button>{{/if}}
</div>
