<form style="background-color:white" onsubmit="event.preventDefault();">
<nav class="navigation foo">
    <a class="item fu_item_1" data-tab="aspects"><b title="Aspects & Fate Points" i icon class="fas fa-theater-masks"></b></a>
    <a class="item fu_item_2" data-tab="tracks"><b title="Character Tracks" i icon class="fas fa-user-injured"></b></a>
    <a class="item fu_item_3" data-tab="scene"><b title="Scene Notes & Situation Aspects" i icon class="fas fa-book"></b></a>                
</nav>
<table style="border:none; margin:0px;">
<tr>
    <td style="vertical-align:top">
        <section class="utilities-body">

            <!----------------------BEGIN Aspects Tab-->
            <div name = "aspects" class="tab aspects" data-tab="aspects" id="fu_aspects_tab" style="background-color:gainsboro; overflow-y:auto; max-height:800px">
                <table style="font-size:small">
                    {{#each GMUsers}}
                    <tr style="border-bottom:black; border-bottom-style:solid; border-bottom-width:1px">
                        <td>
                            <img src="{{this.data.avatar}}" style="width:50px; height:auto; border:none"/>
                        </td>
                        <td style="font-size:small; font-family:Montserrat; font-weight:bold">
                            {{this.name}} (GM)
                        </td>
                        <td>
                            <input id="{{this.id}}" name="gmfp" type="number" min="0" value="{{this.fatepoints}}" style="width:50px; font-family:Montserrat; border-left:none; border-right:none; border-top:none; border-bottom:1px lightsteelblue solid" {{#if ../GM}}{{else}}disabled="disabled"{{/if}}/> Scene Fate Points{{#if ../GM}}<button type="button" id="refresh_fate_points" style="width:300px; float:right;"> Refresh Player Fate Points</button>{{/if}}
                        </td>
                    </tr>
                    {{/each}}
                    {{#each all_tokens}}{{#if this.actor.isPC}}
                    <tr style="border-bottom:black; border-bottom-style:solid; border-bottom-width:1px">
                        <td>
                            {{#if ../tokenAvatar}}<img name="avatar" src="{{this.data.img}}" id="{{this.data._id}}_avatar" style="width:50px; height:auto; border:none"/>{{else}}
                            <img name="avatar" src="{{this.actor.img}}" id="{{this.data._id}}_avatar" style="width:40px; height:auto"/>{{/if}}
                        </td>
                        <td style="font-size:small; font-family:Montserrat; font-weight:bold">
                            {{this.name}}<br>
                            {{#if this.owner}}
                            <select id="{{this.id}}_selectSkill" style="max-width:100px">
                                <option disabled="disabled" selected="selected">Pick a skill</option>
                                {{#each this.actor.data.data.skills}}
                                <option>{{this.name}} ({{this.rank}})</option>
                                {{/each}}
                                {{#each this.actor.data.data.stunts}}
                                {{#if (eq this.linked_skill "None")}}{{else}}<option value="stunt_{{this.name}}_{{this.linked_skill}}_{{this.bonus}}">Stunt: {{this.name}} ({{this.linked_skill}} +{{this.bonus}})</option>{{/if}}
                                {{/each}}
                            </select><button type="button" name="roll" id="{{this.id}}" style="width:30px; height:30px" i icon class = "fas fa-dice"></button>
                            {{/if}}
                            {{#if this.actor.isPC}}<p/><input type="number" id="{{this.id}}_fatepoints" min="0" name="player_fps" value="{{this.actor.data.data.details.fatePoints.current}}" style="width:50px; font-family:Montserrat; border-left:none; border-right:none; border-top:none; border-bottom:1px lightsteelblue solid" {{#if this.owner}}{{else}}disabled="disabled"{{/if}}/> Fate Points{{/if}}
                        </td>
                        <td>
                                <table style="border:none; font-size:small; font-family:Montserrat; padding:2px">
                                    {{#each this.actor.data.data.aspects}}
                                    <tr style="border-bottom:1px; border-bottom:groove">
                                        <td width="150px"><b>{{this.name}}</b>: 
                                        </td>
                                        <td>
                                            {{this.value}}
                                        </td>
                                    </tr>    
                            {{/each}}
                        </table>
                        </td>
                    </tr>
                    {{/if}}
                    {{/each}}
                    {{#each all_tokens}}{{#if this.actor.isPC}}{{else}}{{#if (eq this.actor.permission 0)}}{{else}}
                    <tr style="border-bottom:black; border-bottom-style:solid; border-bottom-width:1px">
                        <td>
                            {{#if ../tokenAvatar}}<img name="avatar" src="{{this.data.img}}" id="{{this.data._id}}_avatar" style="width:50px; height:auto; border:none"/>{{else}}
                            <img name="avatar" src="{{this.actor.img}}" id="{{this.data._id}}_avatar" style="width:50px; height:auto; border:none"/>{{/if}}
                        </td>
                        <td style="font-size:small; font-family:Montserrat; font-weight:bold">
                            {{this.name}}<br>
                            {{#if this.owner}}
                            <select id="{{this.id}}_selectSkill" style="max-width:100px">
                                <option disabled="disabled" selected="selected">Pick a skill</option>
                                {{#each this.actor.data.data.skills}}
                                <option>{{this.name}} ({{this.rank}})</option>
                                {{/each}}
                                {{#each this.actor.data.data.stunts}}
                                {{#if (eq this.linked_skill "None")}}{{else}}<option value="stunt_{{this.name}}_{{this.linked_skill}}_{{this.bonus}}">Stunt: {{this.name}} ({{this.linked_skill}}: +{{this.bonus}})</option>{{/if}}
                                {{/each}}
                            </select><button type="button" name="roll" id="{{this.id}}" style="width:30px; height:30px" i icon class = "fas fa-dice"></button>
                            {{/if}}
                            {{#if this.actor.isPC}}<p/><input type="number" id="{{this.id}}_fatepoints" min="0" name="player_fps" value="{{this.actor.data.data.details.fatePoints.current}}" style="width:50px" {{#if this.owner}}{{else}}disabled="disabled"{{/if}}/> Fate Points{{/if}}
                        </td>
                        <td>
                                <table style="border:none; font-size:small; font-family:Montserrat; padding:2px">
                                    {{#each this.actor.data.data.aspects}}
                                    <tr style="border-bottom:1px; border-bottom:groove">
                                        <td width="150px"><b>{{this.name}}</b>: 
                                        </td>
                                        <td>
                                            {{this.value}}
                                        </td>
                                    </tr>    
                            {{/each}}
                        </table>
                        </td>
                    </tr>
                    {{/if}}
                    {{/if}}
                    {{/each}}
                </table>
            </div><!--End Aspects tab--------------------------------------->
            
            <!--------BEGIN Tracks tab-->
            <div name="tracks" class="tab tracks" data-tab="tracks" style="background-color:beige; font-family:Montserrat;">
                Category: 
                <select id = "category_select" style="padding-right:100px">
                    <option disabled="disabled" selected="selected">Combat</option>
                    {{#each categories}}
                    <option>{{this}}</option>
                    {{/each}}
                </select> {{#if GM}}<button type="button" style="width:50px; height:auto;" id="clear_fleeting">Clear</button> all Fleeting tracks in every category{{/if}}
                <div id="fu_tracks_tab" style="background-color:beige; overflow-y:auto; max-height:800px">
                {{#each all_tokens}}
                {{#if this.actor.isPC}}
                <table style="border:1px; padding:10px;">
                    <tr>
                        <td width = "300px" style="font-family:Montserrat">
                            <b>{{this.name}}</b>
                        </td>
                    </tr>
                {{#each this.actor.data.data.tracks}}
                {{#if (eq ../../category this.category)}}{{#if this.enabled}}
                <tr>
                    <td>
                        <div name="track_name" id="{{../this.id}}"" title="Click here to edit the track notes for {{this.name}}">{{this.name}}</div>
                    </td>
                    <td>
                        {{#each this.box_values}}
                        {{#if this}}                        
                        <label class="box"><input type="checkbox" name = "box" id="{{../name}}_{{@index}}_false_{{../../this.id}}" style="opacity:0;width:25px; height:25px; float:left;" checked="checked" {{#if ../../this.owner}}{{else}}disabled="disabled"{{/if}}><span class = "checkmark"></span><i style="font-style:normal; position: absolute; left: 0; top: 0; transform: translate(-55%, -35%); font-weight: 900; font-size: 20px; color: #2f3542; text-shadow: 2px 2px 0px white;">{{#if (eq ../label "escalating")}}{{add1 @index}}{{else}}{{#if (eq ../label "none")}}{{else}}{{../label}}{{/if}}{{#if (eq ../harm_can_absorb 0)}}{{else}}{{../harm_can_absorb}}{{/if}}{{/if}}</i></label>{{else}}                          
                        <label class="box"><input type="checkbox" name="box" id="{{../name}}_{{@index}}_true_{{../../this.id}}" style="opacity:0; width:25px; height:25px; float:left;" {{#if ../../this.owner}}{{else}}disabled="disabled"{{/if}}><span class = "checkmark"></span><i style="font-style:normal; position: absolute; left: 0; top: 0; transform: translate(-55%, -35%); font-weight: 900; font-size: 20px; color: #2f3542; text-shadow: 2px 2px 0px #f1f2f6;">{{#if (eq ../label "escalating")}}{{add1 @index}}{{else}}{{#if (eq ../label "none")}}{{else}}{{../label}}{{/if}}{{#if (eq ../harm_can_absorb 0)}}{{else}}{{../harm_can_absorb}}{{/if}}{{/if}}</i></input></label>{{/if}}
                        {{/each}}
                        {{#if this.aspect.when_marked}}{{#if (hasBoxes this)}}{{else}}<label style="font-weight:900; padding-left:2px"">{{this.harm_can_absorb}}</label>{{/if}}<input type="text" {{#if ../this.owner}}{{else}}disabled="disabled"{{/if}} class="aspect_box" id="{{../this.id}}_{{this.name}}" name = "track_aspect" value ="{{this.aspect.name}}"><i style="font-style:normal; position: absolute; left: 0; top: 0; transform: translate(-55%, -35%); font-weight: 900; font-size: 24px; color: #2f3542; text-shadow: 2px 2px 2px white;"></i></input>{{/if}}
                    </td>
                </tr>
                {{/if}}
                {{/if}}<!--end-->
                {{/each}}<!--end all_tracks each-->
                </table>
                {{/if}}
                {{/each}}<!--ENd all_tokens each-->
                {{#each all_tokens}}
                {{#if this.actor.isPC}}{{else}}{{#if (eq this.actor.permission 0)}}{{else}}
                <table style="border:1px; padding:10px;">
                    <tr>
                        <td width = "300px" style="font-family:Montserrat">
                            <b>{{this.name}}</b>
                        </td>
                    </tr>
                {{#each this.actor.data.data.tracks}}
                {{#if (eq ../../category this.category)}}{{#if this.enabled}}
                <tr>
                    <td>
                        <div name="track_name" id="{{../this.id}}"" title="Click here to edit the track notes for {{this.name}}">{{this.name}}</div>
                    </td>
                    <td>
                        {{#each this.box_values}}
                        {{#if this}}                        
                        <label class="box"><input type="checkbox" name = "box" id="{{../name}}_{{@index}}_false_{{../../this.id}}" {{#if ../../this.owner}}{{else}}disabled="disabled"{{/if}} style="opacity:0;width:25px; height:25px; float:left;" checked="checked"><span class = "checkmark"></span><i style="font-style:normal; position: absolute; left: 0; top: 0; transform: translate(-55%, -35%); font-weight: 900; font-size: 20px; color: #2f3542; text-shadow: 2px 2px 0px white;">{{#if (eq ../label "escalating")}}{{add1 @index}}{{else}}{{#if (eq ../label "none")}}{{else}}{{../label}}{{/if}}{{#if (eq ../harm_can_absorb 0)}}{{else}}{{../harm_can_absorb}}{{/if}}{{/if}}</i></label>{{else}}                          
                        <label class="box"><input type="checkbox" name="box" id="{{../name}}_{{@index}}_true_{{../../this.id}}" {{#if ../../this.owner}}{{else}}disabled="disabled"{{/if}} style="opacity:0; width:25px; height:25px; float:left;"><span class = "checkmark"></span><i style="font-style:normal; position: absolute; left: 0; top: 0; transform: translate(-55%, -35%); font-weight: 900; font-size: 20px; color: #2f3542; text-shadow: 2px 2px 0px #f1f2f6;">{{#if (eq ../label "escalating")}}{{add1 @index}}{{else}}{{#if (eq ../label "none")}}{{else}}{{../label}}{{/if}}{{#if (eq ../harm_can_absorb 0)}}{{else}}{{../harm_can_absorb}}{{/if}}{{/if}}</i></input></label>{{/if}}
                        {{/each}}
                        {{#if this.aspect.when_marked}}{{#if (hasBoxes this)}}{{else}}<label style="font-weight:900; padding-left:2px"">{{this.harm_can_absorb}}</label>{{/if}}<input {{#if ../this.owner}}{{else}}disabled="disabled"{{/if}} type="text" class="aspect_box" id="{{../this.id}}_{{this.name}}" name = "track_aspect" value ="{{this.aspect.name}}"><i style="font-style:normal; position: absolute; left: 0; top: 0; transform: translate(-55%, -35%); font-weight: 900; font-size: 24px; color: #2f3542; text-shadow: 2px 2px 2px white;"></i></input>{{/if}}
                    </td>
                </tr>
                {{/if}}
                {{/if}}<!--end-->
                {{/each}}<!--end all_tracks each-->
                </table>
                {{/if}}
                {{/if}}
                {{/each}}<!--ENd all_tokens each-->
            </div><!--//End Tracks body-->
        </div><!--End tracks tab-------------------------------->

            <!----------------------------------------------------------------------BEGIN SCENE TAB-->
            <div name = "scene" id="fu_scene_tab" class="tab scene" data-tab="scene" style="background-color:palegoldenrod; overflow-y:auto; max-height:850px">
                    <h1>Situation Aspects</h1>
                    {{#if GM}}<i style="font-style:normal; font-family:Montserrat;">Aspect:</i> <input type="text" id="sit_aspect" style="width:300px; background-color:white; color:black; font-family:Montserrat; border-left:none; border-right:none; border-top:none; border-bottom:1px lightsteelblue solid"></input>
                    <i style="font-style:normal; font-family:Montserrat;">Free invokes:</i> <input type="number" id="free_invokes" style="width:50px; background-color:white; color:black; font-family:Montserrat; border-left:none; border-right:none; border-top:none; border-bottom:1px lightsteelblue solid"></input>{{/if}}
                    {{#if GM}}<button type="button" id="add_sit_aspect" style="width:30px; height:30px;"i icon class="fas fa-plus"></button>{{/if}}
                    <div style="overflow-y:auto; height:200px">
                    <table style="border:none;">
                        {{#each situation_aspects}}
                            <tr>
                                <td width = "300px" style="font-family:Montserrat">
                                    {{this.name}}
                                </td>
                                <td>
                                    <input type="number" name="free_i" id="{{this.name}}_free_invokes" {{#if ../GM}}{{else}}disabled="disabled"{{/if}} style="width:50px; background-color:white; color:black; font-family:Montserrat; border-left:none; border-right:none; border-top:none; border-bottom:1px lightsteelblue solid" value="{{this.free_invokes}}"></input>
                                    {{#if ../GM}}<button type="button" name="del_sit_aspect" id="delete_{{this.name}}" style="width:25px; height:25px" i icon class="fas fa-trash"></button>{{/if}}
                                </td>
                            </tr> 
                        {{/each}}
                    </table>
                    </div>
                    <h1>Scene Notes</h1>
                    <div style="overflow-y:auto; height:200px; font-family:Montserrat;">
                        <div {{#if GM}}contenteditable="true"{{else}}{{/if}} id="scene_notes" style="border-left:none; border-right:none; border-top:none; border-bottom:solid 1px lightsteelblue; background:white">{{{this.notes}}}</div>
                    </div>                
            </div><!--End Scene tab---------------------------------------------------->
            <!----------------------------------------------------------------------END SCENE TAB-->

        </section>
    </td>
    {{#if conflict}}
    <td width="32%" style="vertical-align:top">
        <h2>Action Tracker</h2>
        {{#if conflict}}
        <h3>Exchange: {{exchange}}</h3>
        <div class="Action Tracker" style="overflow-y:auto; height:auto">
            {{else}}No conflict detected.
            {{/if}}
            <table style="border:none; background-color:white">
            {{#each combat_tokens}} {{#if this.hasActed}} {{else}}
            <tr>    
                <td style="width:60px">
                    <button type="button" class="popcorn" id="{{this.id}}"" style="height:50px; width:50px; background: url({{this.data.img}}); background-size:50px 50px" {{#if ../GM}}enabled="enabled"{{else}}disabled="disabled"{{/if}}/>     
                </td>
                <td>
                    {{this.name}}
                </td>
            </tr>
            {{/if}}
            {{/each}}
            </table>
            <table style="border:none; background-color:white">
            {{#if GM}}
            <tr>
                <td>
                    <button type="button" style="width:50px; height:25px; float:left" id="next_exchange" title="Next Exchange" i icon class="fas fa-forward"></button>                    
                    <button type="button" style="width:50px; height:25px; float:left" id="timed_event" title="Timed Event" i icon class="fas fa-clock"></button>                    
                </td>
                <td>
                    <button type="button" style="width:50px; height:25px; float:right" id="end_conflict" title="End Conflict" i icon class="fas fa-trash"></button>
                </td>
            </tr>
            {{/if}}
            </table>                
        </div><!--End action tracker body-->
    </td>
    {{/if}}
</tr>
</table>
</form>
