<form>
    <table style="background-color:none; border:none; margin-left:10px;">
        <tr>
            <td style="width:30em">
                {{localize 'FateCoreOfficial.fuAspectLabelFont'}}
            </td>
            <td style="width:10em">
                <select name="fu_label_font">
                    {{#each this.fonts}}
                    <option {{#if (eq this ../currentFont)}}selected="selected"{{/if}}>
                        {{this}}
                    </option>
                    {{/each}}
                </select>
            </td>
        </tr>
        <tr>
            <td>
                {{localize 'FateCoreOfficial.fuAspectLabelSizeName'}}<br/>
                <div style="font-size:0.8em">{{localize 'FateCoreOfficial.fuAspectLabelSizeHint'}}</div>
            </td>
            <td>
                <input type="number" name="fu_font_size" value="{{this.fontSize}}" style="width:5em"></input>
            </td>
        </tr>
        <tr>
            <td>
                {{localize 'FateCoreOfficial.fuAspectLabelTextColour'}}<br/>
                <div style="font-size:0.8em">{{localize 'FateCoreOfficial.fuAspectLabelTextColourHint'}}</div>
            </td>
            <td>
                <input type="color" style="width:5em" name="fu_text_color" value="{{this.textColour}}"
            </td>
        </tr>
        <tr>
            <td>
                {{localize 'FateCoreOfficial.fuAspectLabelFillColour'}}<br/>
                <div style="font-size:0.8em">{{localize 'FateCoreOfficial.fuAspectLabelFillColourHint'}}</div>
            </td>
            <td>
                <input type="color" style="width:5em" name="fu_fill_color" value="{{this.fillColour}}"
            </td>
        </tr>
        <tr>
            <td>
                {{localize 'FateCoreOfficial.fuAspectLabelBorderColour'}}<br/>
                <div style="font-size:0.8em">{{localize 'FateCoreOfficial.fuAspectLabelBorderColourHint'}}</div>
            </td>
            <td>
                <input type="color" style="width:5em" name="fu_border_color" value="{{this.borderColour}}"
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align:center">
                <button type="button" id="save_fu_label_settings" style="width:5em">{{localize 'FateCoreOfficial.Save'}}</button>
            </td>
        </tr>
    </table>
</form>
