<tr style="border-bottom:black; border-bottom-style:solid; border-bottom-width:1px">
    <td>
        {{#if parameter}}<img name="avatar" src="{{this.data.img}}" id="{{this.data._id}}_avatar" style="width:40px; height:auto; border:none"/>{{else}}
        <img name="avatar" src="{{this.actor.img}}" id="{{this.data._id}}_avatar" style="width:40px; height:auto; border:none"/>{{/if}}
    </td>
    <td>
        {{this.name}}<br>
        {{#if this.owner}}
        <select id="{{this.id}}_selectSkill">
            <option disabled="disabled" selected="selected">Pick a skill</option>
            {{#each this.actor.data.data.skills}}
            <option>{{this.name}} ({{this.rank}})</option>
            {{/each}}
        </select><button type="button" name="roll" id="{{this.id}}" style="width:30px; height:30px" i icon class = "fas fa-dice"></button>
        {{/if}}
        {{#if this.actor.isPC}}<p/><input type="number" id="{{this.id}}_fatepoints" min="0" name="player_fps" value="{{this.actor.data.data.details.fatePoints.current}}" style="width:50px" {{#if this.owner}}{{else}}disabled="disabled"{{/if}}/> Fate Points{{/if}}
    </td>
    <td>
            <table style="border:none; font-size:small; padding:2px">
                {{#each this.actor.data.data.aspects}}
                <tr style="border-bottom:1px; border-bottom:groove">
                    <td width="150px"><b>{{this.name}}</b>: 
                    </td>
                    <td>
                        {{this.value}}
                    </td>
                </tr>    
        {{/each}}
    </table>
    </td>
</tr>