<form style=" width:45em">
    <div>
        <div style="height:2em;"">
            <button type=" button" style="line-height:1em; width:10em; padding:0px; font-size:1em; height:2em"
            id="md_export_all">{{localize 'fate-core-official.exportAllDefaults'}}</button>
            <button type="button" style="line-height:1em; width:10em; padding:0px; font-size:1em; height:2em"
                id="md_export_selected">{{localize 'fate-core-official.exportSelected'}}</button>
            <button type="button" style="line-height:1em; width:10em; padding:0px; font-size:1em; height:2em"
                id="md_import">{{localize 'fate-core-official.import'}}</button>
            <h3 style="float:right"><i id="md_toggle_edit" {{#if this.editing}}class="fas fa-toggle-on"
                    {{else}}class="fas fa-toggle-off" {{/if}}></i> {{localize 'fate-core-official.edit'}}</h2>
        </div>
        <div id="fu_manage_defaults" style="overflow-y:auto;  width:100%">
            {{#each this.defaults}}
            <div style="display:flex; flex-direction:row; height:3em; padding:5px">
                <div style="width:15em; padding-top:5px">
                    <input class="md_edit" {{#unless ../this.editing}}disabled="true" {{/unless}} name="def_name"
                        type="text" data-default_name="{{this.default_name}}" data-oldValue="{{this.default_name}}"
                        value="{{this.default_name}}"></input>
                </div>
                <div style="width:20em; padding-left:10px; padding-top:5px">
                    <input class="md_edit" {{#unless ../this.editing}}disabled="true" {{/unless}} name="def_desc"
                        type="text" data-default_name="{{this.default_name}}" value="{{this.default_description}}"
                        </input>
                </div>
                <div>
                    <input name="def_select" data-default_name="{{this.default_name}}" type="checkbox"></input>
                    <button type="button" style="font-size:0.75em; height:25px; width:25px;" name="inspect_default"
                        data-default_name="{{this.default_name}}" class="fas fa-search"></button>
                    <button type="button" style="font-size:0.75em; height:25px; width:25px;" name="delete_default"
                        data-default_name="{{this.default_name}}" {{#unless ../this.editing}}disabled="true" {{/unless}}
                        class="md_edit fas fa-trash"></button>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</form>