<form style="background:var(--fco-sheet-background-colour); padding:10px; color:var(--fco-sheet-text-colour)">
    <table style="border:none; font-family:var(--fco-font-family); background-color:transparent;" padding="10px" spacing="10px" margin="10px">
        <tr style="height:40px; background-color:transparent">
            <td style="font-weight:bold; padding-left:5px; width:200px">
                {{localize 'fate-core-official.Modifier'}}:
            </td>
            <td>
                <input type="number" id="modifier" style="background-color:var(--fco-sheet-input-colour); color:var(--fco-fate-text-colour); border:1px solid var(--fco-foundry-interactable-color)" value="0"></input>
            </td>
        </tr>
        <tr style="height:40px; background-color:transparent">
            <td style="font-weight:bold; padding-left:5px"> 
                {{localize 'fate-core-official.ModifierDescription'}}:
            </td>
            <td>
                <input type="text" id = "description" style="background-color:var(--fco-sheet-input-colour); color:var(--fco-fate-text-colour); border-bottom:1px solid var(--fco-foundry-interactable-color); border-top:none; border-left:none; border-right:none; width:500px"></input>
            </td>
        </tr>
        {{#if allowManual}}
        <tr style="height:40px; background-color:transparent">
            <td style="font-weight:bold; padding-left:5px; width:200px">
                {{localize 'fate-core-official.manualRoll'}}:
            </td>
            <td>
                <select id="manualRoll" style="background-color:var(--fco-sheet-input-colour); color:var(--fco-fate-text-colour); border:1px solid var(--fco-foundry-interactable-color)" value="">
                    <option value = "" selected = "selected">N/A</option>
                    <option value = "-4">-4</option>
                    <option value = "-3">-3</option>
                    <option value = "-2">-2</option>
                    <option value = "-1">-1</option>
                    <option value = "0">0</option>
                    <option value = "1">+1</option>
                    <option value = "2">+2</option>
                    <option value = "3">+3</option>
                    <option value = "4">+4</option>
                </select>
            </td>
        </tr>
        {{/if}}
        {{#if showFormulae}}
            <tr style="height:40px; background-color:transparent">
                <td style="font-weight:bold; padding-left:5px"> 
                    Custom Dice Formula:
                </td>
                <td>
                    <select id="customFormula" style="background-color:var(--fco-sheet-input-colour); color:var(--fco-fate-text-colour); border:1px solid var(--fco-foundry-interactable-color)" value="">             
                        {{#each formulae}}
                            <option value = "{{this}}">{{this}}</option>
                        {{/each}}
                    </select>           
                </td>
            </tr>
        {{/if}}
        <tr style="height:40px; background-color:transparent">
            <td style="font-weight:bold; padding-left:5px">
                {{localize 'fate-core-official.AddSecondSkill'}}
            </td>
            <td>
                <select id="second_skill" style="background-color:var(--fco-sheet-input-colour); color:var(--fco-fate-text-colour);">
                    <option selected="selected">{{localize 'fate-core-official.None'}}</option>
                    {{#each this.actor.system.skills}}
                    <option>{{this.name}}</option>
                    {{/each}}
                </select>
            </td>
        </tr>
        <tr style="background-color:transparent">
            <td style="font-weight:bold; padding-left:5px; vertical-align: top;">
                {{localize 'fate-core-official.Stunt_s'}}:
            </td>
            <td width="300px">
                {{#each this.actor.system.stunts}}
                {{#if (eq this.linked_skill ../activeSkill)}}
                    <i style="font-style:normal;" title="{{{fco_strip this.description}}}"><input class="stunt_box" type="checkbox" id = "stunt_{{this.name}}"></input> {{this.name}} (+{{this.bonus}})</i><br>
                {{/if}}
                {{#if (eq this.linked_skill "Special")}}
                    <i style="font-style:normal;" title="{{{fco_strip this.description}}}"><input class="stunt_box" type="checkbox" id = "stunt_{{this.name}}"></input> {{this.name}} (+{{this.bonus}})</i><br>
                {{/if}}
                {{/each}}
            </td>
        </tr>
        <tr>
            <td colspan="2" style="padding-top:10px">
                <button type="button" style="border:2px groove var(--fco-foundry-interactable-color); background-color:var(--fco-sheet-input-colour); color:var(--fco-sheet-text-colour);" class="modifiedRoll">{{localize 'fate-core-official.Roll'}}</button>
            </td>
        </tr>
    </table>
</form>
