<form style="background-color:white">
    <table style="border:none; font-family:Montserrat; background-color:white;" padding="10px" spacing="10px" margin="10px">
        <tr style="height:40px">
            <td style="font-weight:bold; padding-left:5px; width:200px">
                {{localize 'ModularFate.Modifier'}}:
            </td>
            <td>
                <input type="number" id="modifier" style="background-color:white; border:1px solid lightsteelblue" value="0"></input>
            </td>
        </tr>
        <tr style="height:40px">
            <td style="font-weight:bold; padding-left:5px">
                {{localize 'ModularFate.Description'}}:
            </td>
            <td>
                <input type="text" id = "description" style="background-color:white; border-bottom:1px solid lightsteelblue; border-top:none; border-left:none; border-right:none; width:500px"></input>
            </td>
        </tr>
        <tr style="height:40px">
            <td style="font-weight:bold; padding-left:5px">
                {{localize 'ModularFate.AddSecondSkill'}}
            </td>
            <td>
                <select id="second_skill">
                    <option selected="selected">{{localize 'ModularFate.None'}}</option>
                    {{#each this.data.data.skills}}
                    <option>{{this.name}}</option>
                    {{/each}}
                </select>
            </td>
        </tr>
        <tr>
            <td style="font-weight:bold; padding-left:5px; vertical-align: top;">
                {{localize 'ModularFate.Stunt_s'}}:
            </td>
            <td width="300px">
                {{#each this.data.data.stunts}}
                {{#if (eq this.linked_skill ../activeSkill)}}
                    <i style="font-style:normal;" title="{{this.description}}"><input class="stunt_box" type="checkbox" id = "stunt_{{this.name}}"></input> {{this.name}} (+{{this.bonus}})</i><br>
                {{/if}}
                {{/each}}
            </td>
        </tr>
        <tr>
            <td colspan="2" style="padding-top:10px">
                <button type="button" class="modifiedRoll">{{localize 'ModularFate.Roll'}}</button>
            </td>
        </tr>
    </table>
</form>
