<form class="mfate-sheet contenteditable" style="background: white; width:100%; height: 100%; border:none !important">
    <div class="mfate-sheet__header">
        <div class="mfate-sheet__identity-panel">
            <img class="mfate-sheet__identity-avatar profile-img" width="100" height="auto" style="border:0" id="avatar" data-edit="img" src="{{actor.img}}"></img>
            <textarea class="mfate-sheet__identity-name" name="name" rows="2" data-edit="name">{{actor.name}}</textarea>
        </div>
        <div class="mfate-sheet__header-right">
            <div class="mfate-sheet__meta">
                <div class="mfate-sheet__meta-column">
                    <div class="mfate-sheet__meta-item">
                        <div class="mfate-sheet__meta-label">Refresh: </div>
                        <input class="mfate-sheet__meta-value" type="number" data-edit="data.details.fatePoints.refresh" name="data.details.fatePoints.refresh" value="{{data.details.fatePoints.refresh}}"></input>
                    </div>

                    <div class="mfate-sheet__meta-item">
                        <div class="mfate-sheet__meta-label">Current: </div>
                        <input class="mfate-sheet__meta-value" type="number" name="data.details.fatePoints.current" value="{{data.details.fatePoints.current}}"></input>

                    </div>
                    <div class="mfate-sheet__meta-item">
                        <div class="mfate-sheet__meta-label">Game Refresh: </div>
                        <input class="mfate-sheet__meta-value" type="number " name="gameRefresh " disabled value="{{gameRefresh}}"></input>
                    </div>
                </div>
                <div class="mfate-sheet__meta-column">

                    <div class="mfate-sheet__meta-item">
                        <div class="mfate-sheet__meta-label">Skill Points: </div>
                        <input class="mfate-sheet__meta-value" type="number" name="skillTotal" disabled value="{{skillTotal}}"></input>
                    </div>
                    <div class="mfate-sheet__meta-item">
                        <div class="mfate-sheet__meta-label">Game Skill Total: </div>
                        <input class="mfate-sheet__meta-value" type="number" name="gameSkillPoints" disabled value="{{gameSkillPoints}}"></input>

                    </div>
                    <div class="mfate-sheet__meta-item">
                        <div class="mfate-sheet__meta-label">Refresh Spent: </div>
                        <input class="mfate-sheet__meta-value" type="number " name="refreshSpent " disabled style="width:75px " value="{{refreshSpent}} " title="Spent on Stunts: {{paidStunts}} (the game 's {{freeStunts}} free stunts have been deducted); Spent on tracks: {{paidTracks}}; Spent on Extras: {{paidExtras}}"></input>

                    </div>
                </div>
            </div>
            <nav class="mfate-sheet__tabs-nav foo">
                <a class="mfate-sheet__tabs-nav-link item active" data-tab="sheet">
                    <span class="sr-only">Character Sheet</span>
                    <b title="Character Sheet" class="fas fa-clipboard mfate-sheet__tabs-nav-icon"></b>
                </a>
                <a class="mfate-sheet__tabs-nav-link item" data-tab="biography">
                    <span class="sr-only">Biography and Extras</span>
                    <b title="Biography and Extras" class="fas fa-portrait mfate-sheet__tabs-nav-icon"></b>
                </a>
            </nav>
        </div>


    </div>

    <section class="sheet-body">
        <div class="tab sheet mfate-sheet__tab mfate-sheet__tab--main" name="character_sheet" data-tab="sheet">
            <!-- PANELS START -->
            <div class="mfate-sheet__column">
                <div id="{{actor.name}}_sheet_div" class="mfate-panel mfate-panel--skills">
                    <div class="mfate-panel__header">
                        <div class="mfate-panel__header-label">Skills</div>
                        <!-- <button class="mfate-panel__header-button">Settings</button>
                            <button class="mfate-panel__header-button">Sort</button> -->
                        <div name="sort_player_skills" i icon class="fas fa-sort mfate-panel__header-button" title="Switch between sorting by rank and sorting by name"></div>
                        <div title="Open the Skill Editor" name="edit_player_skills" i icon class="fas fa-cog mfate-panel__header-button"></div>
                    </div>
                    <div name="skills_body" id="skills_body" class="mfate-panel__body">
                        <ul class="mfate-skills-list">


                            {{#if sortByRank}} {{#each sorted_by_rank}}
                            <li class="mfate-skills-list__item">
                                <div class="mfate-skills-list__number">{{this.rank}}</div>
                                <div class="mfate-skills-list__adjective">({{lookup ../ladder this.rank}})</div>
                                <div class="mfate-skills-list__skill-name" name="skill" id="{{this.name}}">
                                    {{this.name}}
                                    <i id="{{this.name}}" style="float:right" icon class="fas fa-dice"></i>
                                </div>
                            </li>
                            {{/each}} {{else}} {{#each ordered_skills}}
                            <li class="mfate-skills-list__item">
                                <div class="mfate-skills-list__number">{{this.rank}}</div>
                                <div class="mfate-skills-list__adjective">({{lookup ../ladder this.rank}})</div>
                                <div class="mfate-skills-list__skill-name" name="skill" id="{{this.name}}">
                                    {{this.name}}
                                    <i id="{{this.name}}" style="float:right" icon class="fas fa-dice"></i>
                                </div>
                            </li>
                            {{/each}} {{/if}}
                        </ul>
                    </div>
                </div>
                <div class="mfate-panel mfate-panel--tracks" name="tracks_stunts">

                    <div name="tracks_stunts" class="mfate-tracks">
                        <div name="tracks_block" class="tracks-block">
                            <!--Begin the tracks block-->
                            <div class="mfate-panel__header" name="tracks_header">
                                <b class="mfate-panel__header-label">Tracks</b>
                                <select class="mfate-panel__header-select" id="track_category">
                                    <option value="All" {{#if (eq category "All")}}selected{{/if}}>All</option>
                                    {{#each track_categories}}
                                        <option value="{{this}}"{{#if (eq ../category this)}} selected{{/if}}>{{this}}</option>
                                    {{/each}}
                                </select>
                                <div title="Open the Track Editor" style="font-size:medium;" name="edit_player_tracks" i icon class="fas fa-cog mfate-panel__header-button"></div>
                            </div>
                            <div name="tracks_body" id="tracks_body" style="scrollbar-width:thin">
                                <div class="mfate-tracks__list">
                                    {{#each tracks}}{{#if this.enabled}}{{#if (category ../category this.category)}}
                                    <div class="mfate-tracks__item">
                                        <div class="mfate-tracks__item-label">
                                            <div name="track_name" style="font-family:Montserrat" title="Click here to edit the track notes for {{this.name}}">
                                                <i style="font-style:normal; font-weight:bold; font-family: Montserrat">{{this.name}}</i>
                                            </div>
                                        </div>
                                        <!-- CHECKBOXES-->

                                        <div></div>
                                        <div class="mfate-tracks__boxes">
                                            {{#each this.box_values}} {{#if this}}
                                            <label class="box">
                                                <input type="checkbox" name="box" id="{{../name}}_{{@index}}_false" style="opacity:0;width:25px; height:25px; float:left;" checked="checked">
                                                    <span class="checkmark"></span>
                                                    <i style="font-style:normal; position: absolute; left: 0; top: 0; transform: translate(-55%, -35%); font-weight: 900; font-size: 20px; color: #2f3542; text-shadow: 2px 2px 0px white;">
                                                        {{#if (eq ../label "escalating")}}{{add1 @index}}{{else}}{{#if (eq ../label "none")}}{{else}}{{../label}}{{/if}}{{#if (eq ../harm_can_absorb 0)}}{{else}}{{../harm_can_absorb}}{{/if}}{{/if}}
                                                    </i>
                                                </input>
                                            </label> {{else}}
                                            <label class="box">
                                                <input type="checkbox" name="box" id="{{../name}}_{{@index}}_true" style="opacity:0; width:25px; height:25px; float:left;">
                                                    <span class="checkmark"></span>
                                                    <i style="font-style:normal; position: absolute; left: 0; top: 0; transform: translate(-55%, -35%); font-weight: 900; font-size: 20px; color: #2f3542; text-shadow: 2px 2px 0px #f1f2f6;">
                                                        {{#if (eq ../label "escalating")}}{{add1 @index}}{{else}}{{#if (eq ../label "none")}}{{else}}{{../label}}{{/if}}{{#if (eq ../harm_can_absorb 0)}}{{else}}{{../harm_can_absorb}}{{/if}}{{/if}}
                                                    </i>
                                                </input>
                                            </label>
                                            <!-- END CHECKBOXES -->
                                            {{/if}}{{/each}}
                                            <!-- START IF -->
                                            {{#if this.aspect.when_marked}} {{#if (hasBoxes this)}} {{else}}
                                            <label style="font-weight:900; padding-left:2px">
                                                {{this.harm_can_absorb}}
                                                </label> {{/if}}
                                            <input type="text" class="aspect_box" name="data.tracks.{{this.name}}.aspect.name" value="{{this.aspect.name}}">
                                            <i style="font-style:normal; position: absolute; left: 0; top: 0; transform: translate(-55%, -35%); font-weight: 900; font-size: 24px; color: #2f3542; text-shadow: 2px 2px 2px white;"></i>
                                            </input>
                                            {{/if}}
                                        </div>

                                    </div>
                                    {{/if}}{{/if}}{{/each}}
                                </div>
                            </div>
                            <!--end of tracks body-->
                        </div>
                        <!--End of tracks block-->

                    </div>
                </div>
            </div>
            <div class="mfate-sheet__column">
                <div class="mfate-panel mfate-panel--aspects">
                    <div class="mfate-panel__header">
                        <div class="mfate-panel__header-label">Aspects</div>
                        {{#if GM}}
                        <div title="Open the Aspect Editor" name="edit_player_aspects" i icon class="fas fa-cog mfate-panel__header-button"></div>
                        {{/if}}
                    </div>

                    <ul class="mfate-aspects-list">

                        {{#each data.aspects}}

                        <li name="aspect" title="{{this.description}}" class="mfate-aspects-list__item">
                            <div id="{{this.name}}" name="{{this.name}}" class="mfate-aspects-list__label">{{this.name}}</div>
                            <!-- <input class="cs_box" type="text" id="{{this.name}}" name="data.aspects.{{this.name}}.value" value="{{{this.value}}}"></input> -->
                            <textarea style="resize: none;" class="cs_box mfate-aspects-list__input" type="text" id="{{this.name}}" name="data.aspects.{{this.name}}.value">{{this.value}}</textarea>

                        </li>
                        {{/each}}
                    </ul>
                </div>

                <div class="mfate-panel mfate-panel--stunts">
                    <div class="mfate-panel__header" name="stunts_header">
                        <b class="mfate-panel__header-label">Stunts</b>
                        <div title="View Stunt Database" name="stunt_db" i icon class="fas fa-book mfate-panel__header-button"></div>
                        <div class="fas fa-plus mfate-panel__header-button" title="Add a new stunt" name="edit_player_stunts" i icon></div>

                    </div>

                    <div name="stunts_block" class="stunts-block">
                        <!--Begin the stunts block-->

                        <div name="stunts_body mfate-stunts__body" id="stunts_body">
                            <div class="mfate-stunts__table">
                                {{#each stunts}}
                                <div class="mfate-stunts__row">
                                    <div class="mfate-stunts__row-header">
                                        <div class="mfate-stunts__row-header-cell">
                                            {{this.name}} ({{this.linked_skill}})
                                            {{#if (eq this.extra_tag undefined)}}
                                            <button type="button" i icon class="fas fa-trash mfate-stunts__row-header-icon" name="delete_stunt" id="{{this.name}}_delete"></button> {{#if (eq this.linked_skill "None")}}{{else}}
                                            <button type="button" name="stunt_name" id="{{this.name}}_{{this.linked_skill}}_{{this.bonus}}" i icon class="fas fa-dice mfate-stunts__row-header-icon"></button>{{/if}}
                                            <button type="button" name="edit_stunt" i icon class="fas fa-edit mfate-stunts__row-header-icon" id="{{this.name}}_edit"></button> {{#if ../GM}}
                                            <button type="button" name="db_stunt" title="Add this stunt to the stunt database" i icon class="fas fa-upload mfate-stunts__row-header-icon" id="{{this.name}}_db"></button> {{/if}}
                                            {{else}}{{/if}}
                                            <!-- <button type="button" style="border:none; background:white; float:right; width:20px; height:20px;" i icon class="fas fa-trash" name="delete_stunt" id="{{this.name}}_delete"></button> {{#if (eq this.linked_skill
                                            "None")}}{{else}}
                                            <button type="button" name="stunt_name" id="{{this.name}}_{{this.linked_skill}}_{{this.plusTwo}}" style="border:none; background:white; float:right; width:20px; height:20px; padding-left:15px; padding-right:30px" i icon class="fas fa-dice"></button>{{/if}}
                                            <button type="button" name="edit_stunt" style="border:none; float:right; width:20px; height:20px; background:white;" i icon class="fas fa-edit" id="{{this.name}}_edit"></button> -->
                                        </div>
                                    </div>
                                    <div class="mfate-stunts__row-body">
                                        <div>{{{this.description}}}</div>
                                    </div>
                                    <div class="mfate-stunts__row-footer">
                                        <div class="mfate-stunts__row-footer-cell">
                                            {{#if this.overcome}}
                                            <b id=" Overcome ">O</b> {{/if}} {{#if this.caa}}
                                            <b id="Create An Advantage ">C</b> {{/if}}{{#if this.attack}}
                                            <b id="Attack ">A</b>{{/if}} {{#if this.defend}}
                                            <b id="Defend ">D</b>{{/if}}
                                        </div>
                                    </div>
                                </div>
                                {{/each}}
                                </table>
                            </div>
                            <!--End of stunt body-->
                        </div>
                        <!-- end of Stunts block-->
                    </div>
                </div>
            </div>
            <!--end of bio block-->

        </div>

        <div class="tab biography mfate-sheet__tab mfate-sheet__tab--secondary" id="biography_body" data-tab="biography">
            <div class="mfate-description">
                <div class="mfate-panel__header">
                    <div class="mfate-panel__header-label">Description</div>
                </div>
                <!-- <div class="mfate-sheet-description__content">Content</div> -->
                <div class="mfate-description__content long_text" id="{{this.actor._id}}_description" contenteditable="true" name="data.details.description.value" data-edit="data.details.description.value">{{{data.details.description.value}}}</div>

            </div>
            <div class="mfate-biography">
                <div class="mfate-panel__header">
                    <div class="mfate-panel__header-label">Biography</div>
                </div>
                <!-- <div class="mfate-sheet-biography__content">Content</div> -->
                <div class="mfate-biography__content long_text" id="{{this.actor._id}}_biography" contenteditable="true" data-edit="data.details.biography.value" name="data.details.biography.value">{{{data.details.biography.value}}}</div>

            </div>
            <div class="mfate-extras">
                <div class="mfate-panel__header">
                    <div class="mfate-panel__header-label">
                        Extras
                        <div title="Add a new Extra" style="font-size:medium; padding-left:10px; padding-right:10px; padding-top:5px; float:right" name="add_player_extra" i icon class="fas fa-plus"></div>
                    </div>
                </div>
                <div class="mfate-extras__content">
                    <div class="fate-extras__content-body" name="extras_body">
                        <div class="fate-extras__row">
                            {{#each items}}
                            <div name="item_header" draggable="true" id="{{../this.actor._id}}_{{this._id}}" data-item="{{str this}}">
                            <div class = "fate-extras__row-header">
                                {{{this.name}}}
                                <button i icon class="fas fa-trash fate-extras__row-header-button" type="button" name="delete_extra" id="{{this._id}}"></button>
                                <button name="edit_extra" type="button" i icon class="fas fa-edit  fate-extras__row-header-button" id="{{this._id}}"></button>
                            </div>

                            <div class="fate-extras__row-body">
                                <div class="fate-extras__row-body-content">{{{this.data.description.value}}}</div>
                            </div>
                        </div>
                            {{/each}}
                            </table>
                        </div>
                    </div>
                </div>
                <!--End of Extras block-->
            </div>
            <!--End of bio tab-->
    </section>
</form>
