<form style="background: white; width:850px">  
    <table style="background-color: white; border:0px; padding:0px;">
        <tr>
            <td style="width:100px">
                <img width="100" height="auto" style="border:0" id="avatar" data-edit="img" src="{{actor.img}}"></img>
            </td>
            <td style="width:275px">
                <h2><input type="text" name="name" value="{{actor.name}}" style="border:0; color:black; background:white; height:50px;"></h2>
            </td>
            <td>
                <table style="background-color: white; border:0px; padding:2px;">
                <tr>
                    <td>
                        <b>Refresh: </b>
                    </td>
                    <td>
                        <input type="number" name="data.details.fatePoints.refresh" style="width:75px" value="{{data.details.fatePoints.refresh}}"></input>
                    </td>
                    <td>
                        <b>Skill Points: </b>
                    </td>
                    <td>
                        <input type="number" name="skillTotal" disabled style="width:75px" value="{{skillTotal}}"></input>
                    </td>
                    <td>
                        <button type = "button" onclick="openSheet(event)" style="width:50px; height:30px" title="Display Character Sheet" id="sheet_button" i icon class="fas fa-clipboard"></button>
                    </td>
                    <td>    
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Current: </b>
                    </td>
                    <td>
                        <input type="number" name="data.details.fatePoints.current" style="width:75px" value="{{data.details.fatePoints.current}}"></input>
                    </td>
                    <td>
                        <b>Game Skill Total: </b>
                    </td>
                    <td>
                        <input type="number" name="gameSkillPoints" skillPoints" disabled style="width:75px" value="{{gameSkillPoints}}"></input>
                    </td>
                    <td>
                        <button type = "button" onclick="openBio(event)" style="width:50px; height:30px" title="Display Bio Page" id="bio_button" i icon class="fas fa-portrait"></button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Game Refresh:</b>
                    </td>
                    <td>
                        <input type="number" name="gameRefresh" disabled style="width:75px" value="{{gameRefresh}}"></input>
                    </td>
                    <td>
                        <b>Refresh Spent:</b>
                    </td>
                    <td>
                        <input type="number" name="refreshSpent" disabled style="width:75px" value="{{refreshSpent}}"></input>
                    </td>
                </tr>

            </table>
            </td>
        </tr>
    </table>

<div name = "character_sheet">
    <div id = "sheet" class="tabcontent" style="display:block; font-size:small">
        <div style="display:flex; flex-flow:row wrap" name = "skills_aspects">
            <div name="skills_block">
                <div name = "skills_header" style="width:400px"><b>Skills</b>
                    <div title="Open the Skill Editor" style="font-size:medium; padding-left:10px; padding-right:10px;" name="edit_player_skills" i icon class="fas fa-cogs"></div><div style="font-size:medium; padding-right:10px" name="sort_player_skills" i icon class="fas fa-sort" title="Switch between sorting by rank and sorting by name"></div></div>
                <div name = "skills_body" style="overflow-y:scroll; width:400px; height:250px; border:lightsteelblue; border-width:2px; border-style:solid">
                {{#if sortByRank}}
                {{#each sorted_by_rank}}
                    <div class = "row">
                        <div class="column" style="float:left; width:10%; margin:auto; padding:0px; border:white solid 1px;">{{this.rank}}</div>
                        <div class="column" style="float:left; width:30%; margin:auto; padding:0px; border:white solid 1px;">({{lookup ../ladder this.rank}})</div>
                        <div class="column" name="skill" style="float:left; width:60%; background-color:lightsteelblue; margin:auto; padding:2px; border:white solid 2px;" id="{{this.name}}">{{this.name}}</div>
                    </div>
                {{/each}}
                {{else}}
                {{#each ordered_skills}}    
                <div class="row">
                    <div class="column" style="float:left; width:10%; margin:auto; padding:0px; border:white solid 1px;">{{this.rank}}</div>
                    <div class="column" style="float:left; width:30%; margin:auto; padding:0px; border:white solid 1px;">({{lookup ../ladder this.rank}})</div>
                    <div class="column" name="skill" style="float:left; width:60%; background-color:lightsteelblue; margin:auto; padding:2px; border:white solid 2px;" id="{{this.name}}">{{this.name}}</div>
                </div>
                {{/each}}
                {{/if}}
            </div><!--End of skills body-->
        </div><!--end of skills block-->
        <div name = "aspects_block" style="float:left" title="Double-click on an aspect name to change the name and description">
            <div name = "aspects_header" style="width:350px"><b>Aspects</b></div>
            <div name = "aspects_body" style="overflow-y:scroll; width:400px; height:250px; border:lightsteelblue; border-width:2px; border-style:solid">
                {{#each data.aspects}}
                <div class="row">
                    <div name="aspect" style="float:left, width 25%; margin:auto; padding:1px; border:white solid 2px" font-family:Arial; title="{{this.description}}">
                            <div id="{{this.name}}"" name="{{this.name}}">{{this.name}}</div>
                            <input type="text" style="background-color: lightsteelblue"{{this.name}}" name="data.aspects.{{this.name}}.value" value="{{this.value}}"></input>
                        </div>
                </div><!--End of a row-->
                {{/each}}
            </div><!--End of aspects body-->
        </div><!--End of aspects block-->
    </div><!--end of skills_aspects-->

    <!--------------------Begin tracks and stunts section-->
    <div style="display:flex; flex-flow:row wrap" name = "tracks_stunts"><!--Begin tracks & stunts section-->
        <div name = "tracks_block"><!--Begin the tracks block-->
            <div name="tracks_header" style="width:350px"><b>Tracks</b><div title="Open the Track Editor" style="font-size:medium; padding-left:10px; padding-right:10px;" name="edit_player_tracks" i icon class="fas fa-cogs"></div></div>
            <div name = "tracks_body" style="overflow-y:scroll; width:400px; height:auto; max-height:500; border:lightsteelblue; border-width:2px; border-style:solid">
                <table style="background-color:white; border:0px; padding:10px;">
                    {{#each tracks}}{{#if this.enabled}}
                    <tr>
                        <td>
                            <div name="track_name" title="Click here to edit the track notes for {{this.name}}">{{this.name}}</div>
                        </td>
                        <td>
                            {{#each this.box_values}}
                            {{#if this}}<button type="button" name = "box" id="{{../name}}_{{@index}}_false" i icon class="fas fa-times" style="width:25px; height:25px; float:left; padding:5px"></button>{{else}}                          
                            <button type="button" name="box" id="{{../name}}_{{@index}}_true" style="width:25px; height:25px; float:left; padding:5px"></button>{{/if}}
                            {{/each}}
                            {{#if this.aspect.when_marked}}<input type="text" style="font-size:small; width:250px; height:25px; float:left; padding:5px; color:black; background-color: lightsteelblue; font-family:Arial;" name = "data.tracks.{{this.name}}.aspect.name" value ="{{this.aspect.name}}"></input>{{/if}}
                        </td>
                    </tr>
                    {{/if}}{{/each}}
                </table>
            </div><!--end of tracks body-->
        </div><!--End of tracks block-->
        <div name="stunts_block" style="float:left"> <!--Begin the stunts block-->
            <div name = "stunts_header" style="width:350px"><b>Stunts</b><div title="Open the Stunt Editor" style="font-size:medium; padding-left:10px; padding-right:10px;" name="edit_player_stunts" i icon class="fas fa-cogs"></div></div>
            <div name = "stunts_body" style="overflow-y:scroll; width:400px; height:auto; max-height:500;"; border:lightsteelblue; border-width:2px; border-style:solid>
            </div><!--End of stunt body-->
        </div><!-- end of Stunts block-->
    </div><!--end of Tracks and stunts section-->
</div> <!--End of sheet tab-->

<div id="bio" class="tabcontent" style="display:none;">
    <div>
        <div style="width:20%">
            <h1>Description:</h1>
        </div>
        <div style="width:80%">
            <textarea rows="10" name="data.details.description.value" style="background-color:lightsteelblue; color:black; font-family:Arial;">{{data.details.description.value}}</textarea>
        </div>
        <div style="width:20%">
            <h1>Biography:</h1>
        </div>
        <div style="width:80%">
            <textarea rows="10" name="data.details.biography.value" style="background-color:lightsteelblue; color:black; font-family:Arial;">{{data.details.biography.value}}</textarea>
        </div>
    </div><!--end of bio block-->
    </div><!--End of bio tab-->
</div><!--end of character sheet-->

<script>
    function openBio(event, name) {
        let sheet=document.getElementById("sheet");
        let bio=document.getElementById("bio");
        sheet.style.display="none";
        bio.style.display="block";
    }
    function openSheet(event, name){
        let sheet=document.getElementById("sheet");
        let bio=document.getElementById("bio");
        sheet.style.display="block";
        bio.style.display="none";
    }
</script>
</form>