<div>
    <div style="max-height:75vh; display:flex; flex-flow:column">
        {{#each this}}
            <div style="height:30px; vertical-align:center; display:flex; flex-direction:row">
                <div style = "min-width:80%">
                    {{this.name}}
                </div>
                <div style="display:flex; flex-direction:row; min-width:20%">
                    <button type="button" name = "oa_up" id="oa_up_{{@key}}" style="width:25px; height:25px; background-color:white" icon class="fas fa-sort-up"></button>
                    <button type="button" name = "oa_down" id="oa_down_{{@key}}" style="width:25px; height:25px; background-color:white" icon class="fas fa-sort-down"></button>
                </div>
            </div>
        {{/each}}
        <button type="button" id="oa_save" icon class="fas fa-save"></button>
    </div>    
</div>