<form id="ShowCharacter" style="font-family:Montserrat">
    <p style="font-weight:bold">{{localize 'ModularFate.PickATokenOrActor'}}:</p>
    <span style="width:25%; padding:5px">
        {{localize 'ModularFate.Character'}}:
    </span>
    <span style="width:75%; padding:5px">
        <select id="character">
            <option disabled="disabled">
                {{localize 'ModularFate.Tokens'}}
            </option>
            {{#each tokens}}
                <option value = "token_{{this.id}}">
                    {{this.name}}
                </option>
            {{/each}}
            <option disabled="disabled">
                {{localize 'ModularFate.Actors'}}
            </option>
            {{#each actors}}
                <option value = "actor_{{this.id}}">
                    {{this.name}}
                </option>
            {{/each}}
        </select>
    </span><p/>
    <span>
        <p style="font-weight:bold">{{localize 'ModularFate.PickWhoToShowTo'}}:</p>
        <button type="button" id="all_players">{{localize 'ModularFate.SelectAll'}}</button><p/>
    </span>
    {{#each users}}
    {{#if this.active}}
        <span style="width:25%; padding:5px">
            <input type="checkbox" class="player_select" id="{{this.id}}"/>
        </span>
        <span style="width:75%; padding:5px">
            {{this.name}}
        </span><p/>
        {{/if}}
    {{/each}}
    <span>
        <p style="font-weight:bold">{{localize 'ModularFate.PickWhatToShow'}}:</p>
        <button type="button" id="all_elements">{{localize 'ModularFate.SelectAll'}}</button><p/>
            <span style="width:25%; padding:5px">
                <input type="checkbox" class="element_select" id="avatar"/>
            </span>
            <span style="width:75%; padding:5px">
                {{localize 'ModularFate.Avatar'}}
            </span><p/>
            <span style="width:25%; padding:5px">
                <input type="checkbox" class="element_select" id="biography"/>
            </span>
            <span style="width:75%; padding:5px">
                {{localize 'ModularFate.Biography'}}
            </span><p/>
            <span style="width:25%; padding:5px">
                <input type="checkbox" class="element_select" id="description"/>
            </span>
            <span style="width:75%; padding:5px">
                {{localize 'ModularFate.Description'}}
            </span><p/>
            <span style="width:25%; padding:5px">
                <input type="checkbox" class="element_select" id="aspects"/>
            </span>
            <span style="width:75%; padding:5px">
                {{localize 'ModularFate.Aspects'}}
            </span><p/>
            <span style="width:25%; padding:5px">
                <input type="checkbox" class="element_select" id="skills"/>
            </span>
            <span style="width:75%; padding:5px">
                {{localize 'ModularFate.Skills'}}
            </span><p/>
            <span style="width:25%; padding:5px">
                <input type="checkbox" class="element_select" id="tracks"/>
            </span>
            <span style="width:75%; padding:5px">
                {{localize 'ModularFate.Tracks'}}
            </span><p/>
            <span style="width:25%; padding:5px">
                <input type="checkbox" class="element_select" id="stunts"/>
            </span>
            <span style="width:75%; padding:5px">
                {{localize 'ModularFate.Stunts'}}
            </span><p/>
            <span style="width:25%; padding:5px">
                <input type="checkbox" class="element_select" id="extras"/>
            </span>
            <span style="width:75%; padding:5px">
                {{localize 'ModularFate.Extras'}}
            </span><p/>
    </span>
    <span>
        <button type="button" id="show_button">{{localize 'ModularFate.ShowNow'}}</button>
    </span>
</form>